.visually-hidden {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}

/*Footer
=======================================================*/
.footer {
	background-color: #131313;

	padding-top: 29px;
	padding-bottom: 21px;

	@media (min-width : 1170px) {
		padding-top: 54px;
		padding-bottom: 72px;
	}
}

.footer .container {

	@media (min-width : 500px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@media (min-width : 500px)  and (max-width: 767px){
		justify-content: space-between;
	}

	@media (min-width : 768px) {
		align-items: center;
	}
}

.footer__logo {
	display: none;

	@media (min-width : 768px) {
		display: inline-block;
		order: 1;

		width: 40%;
		margin-bottom: 30px;
	}

	@media (min-width : 1170px) {
		margin-bottom: 0;
		width: 50%;
	}
}

.social-list {
	font-size: 0;

	display: flex;

	margin-left: -26px;
	margin-bottom: 44px;

	@media (min-width : 650px) {
		width: 50%;
	}

	@media (min-width : 768px) {
		margin-bottom: 0;

		order: 3;
	}

	@media (min-width : 1170px) {
		width: auto;
		margin-right: 27px;

		order: 2;
	}
}

.social-list li {
	margin-left: 26px;
}

.social-list a {
	@media (min-width : 768px) {
		&:hover {
			opacity: 0.5;
		}
	}
}

.call-order {
	background-color: transparent;
	display: block;

	padding: 0;
	margin-bottom: 41px;

	color: #a1a1a1;;
	font-size: 14px;
	font-weight: 700;

	&:hover {
		background-color: #f4f4f4;

		color: #131313;
	}

	@media (min-width : 768px) {
		padding: 12px 30px;
		margin-bottom: 0;

		font-size: 16px;
		color: #ffffff;

		border-radius: 35px;
		border: 1px solid #ffffff;
	}

	@media (min-width : 1170px) {
		padding: 18px 30px;
	}
}

.recall {
	@media (min-width : 768px) {
		display: flex;
		align-items: center;
		order: 2;

		margin-bottom: 30px;
		width: 60%;
		justify-content: flex-end;
	}

	@media (min-width : 1170px) {
		order: 3;
		width: auto;
		justify-content: flex-start;
		margin-bottom: 0;
	}
}

.footer__call {
	color: #ffffff;

	margin-bottom: 24px;

	display: block;
	position: relative;

	@media only screen and (min-width : 768px) {
		margin-bottom: 0px;

		margin-right: 30px;
	}

	@media (min-width : 1170px) {
		padding-left: 40px;

		&::before {
			content: '';

			position: absolute;
			left: 0;

			background-image: url("../img/phone.png");

			width: 24px;
			height: 24px;
		}
	}
}

.footer__bank {
	display: flex;
	align-items: center;

	margin-bottom: 48px;

	@media (min-width : 768px) {
		margin-bottom: 0;
		width: 50%;

		justify-content: flex-end;
		order: 4;
	}

	@media (min-width : 1170px) {
		order: 5;

		margin-top: 30px;
		padding-right: 35px;
	}
}

.footer__bank p {
	width: 115px;
	height: 29px;

	margin-right: 18px;

	@media only screen and (min-width : 768px) {
		width: auto;
		height: auto;
	}

	@media (min-width : 1170px) {
		width: 217px;
		height: 53px;

		margin-right: 43px;
	}
}

.footer__bank a {
	font-size: 16px;

	color: #a1a1a1;

	@media (min-width : 768px) {
		color: #ffffff;
	}

	@media (min-width : 1170px) {
		font-size: 18px;
	}
}

.ip-column {
	order: 5;
}

.footer__ip {
	color: #858585;
	font-size: 12px;
	line-height: 23px;

	@media (min-width : 768px) {
		order: 5;

		margin-top: 30px;

		font-size: 16px;
	}

	@media (min-width : 1170px) {
		width: 50%;
		order: 4;
	}
}


.footer__ip br {
	@media (min-width : 768px) {
		display: none;
	}
}


/*buy-franchise
==============================================================*/
.buy-franchise {
	padding: 73px 0;
}

.buy-franchise-column{
	@media (min-width : 1170px) {
		display: flex;
		justify-content: space-between;
	}
}

.buy-franchise__contract {
	display: none;

	@media (min-width : 1170px) {
		width: 570px;
		height: 735px;

		border: 1px solid #c4c4c4;
		background-color: #f8f8f8;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.buy-franchise fieldset{
	border: none;

	padding: 0;
	margin: 0;
}

.buy-franchise legend {
	color: #000000;
	font-size: 16px;
	font-weight: 700;
}

.buy-franchise .format {
	margin-bottom: 59px;

	@media (min-width : 768px) {
		width: 50%;
	}

	@media (min-width : 1200px) {
		width: auto;
	}
}

.buy-franchise .format legend{
	margin-bottom: 42px;

	@media (min-width : 1170px) {
		font-size: 24px;
	}
}

.buy-franchise__promocode legend{
	margin-bottom: 34px;
	line-height: 35px;

	@media (min-width : 1170px) {
		font-weight: 400;
		font-size: 18px;

		br {
			display: none;
		}
	}
}

.promocode-column {
	@media (min-width : 1170px) {
		display: flex;

		margin-bottom: 73px;
	}
}

.buy-franchise__title {
	color: #131313;
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;

	width: 243px;
	margin-bottom: 61px;

	@media (min-width : 500px) {
		width: auto;
	}

	@media (min-width : 768px) {
		font-size: 24px;
		line-height: 32px;

		img {
			margin-bottom: -33px;
			margin-left: 20px;
		}
	}

	@media (min-width : 1170px) {
		font-size: 36px;
		line-height: 43px;

		img {
			margin-bottom: -13px;
			margin-left: 0;
		}
	}
}

.buy-franchise__title span {
	color: #f6ae2d;
}

.buy-franchise__title-img {
	width: 181px;
	height: 45px;
	margin-top: 20px;

	display: block;

	@media (min-width : 768px) {
		display: inline;
	}
}

.franchise-form__radio {
	display: none;
}

.franchise-form__radio:checked ~ .franchise-form__label::before {
	background-color: #f6ae2d;
}

.franchise-form__label {
	position: relative;

	padding-left: 45px;
	color: #000000;
	font-size: 16px;

	&:before {
		content: '';

		width: 20px;
		height: 21px;

		position: absolute;
		left: 0;
		border: 1px solid #dcdcdc;
		background-color: #ffffff;
		border-radius: 5px;
	}

	@media (min-width : 1170px) {
		font-size: 18px;
	}
}

.franchice-form__text {
	border-radius: 26px;
	border: 1px solid #dcdcdc;
	background-color: #ffffff;
}

.buy-franchise__format li {
	margin-bottom: 28px;

	&:last-child {
		margin-bottom: 0;
	}
}

.franchice-form__text {
	width: 281px;
	height: 52px;

	@media (min-width : 1170px) {
		width: 329px;
		height: 66px;
	}
}

.franchice-form__btn {
	border-radius: 31px;
	background-color: #949494;

	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
}

.promocode__text {
	margin-bottom: 31px;
	padding: 0 20px;

	display: block;

	@media (min-width : 1170px) {
		margin-bottom: 0;
		margin-right: 19px;
	}
}

.promocode__btn {
	padding: 18px 28px;
	margin-bottom: 68px;

	@media (min-width : 1170px) {
		margin-bottom: 0;

		background-color: #f6ae2d;
	}
}

.buy-franchise__sum {
	margin-bottom: 36px;

	color: #000000;
	font-size: 16px;
	line-height: 43px;

	@media (min-width : 768px) {
		font-size: 18px;
	}
}

.buy-franchise__sum span{
	display: block;
	font-weight: 700;
	font-size: 35px;

	@media (min-width : 768px) {
		font-size: 24px;
	}

	@media (min-width : 1170px) {
		display: inline-block;
		margin-left: 35px;
	}
}

.franchice-buy__submit {
	padding: 25px 98px;
	margin-bottom: 32px;

	font-size: 18px;

	align-self: flex-start;

	@media (min-width : 1170px) {
		padding: 26px 49px;
		margin-bottom: 0;
	}
}

.buy-franchise__form {
	display: flex;
	flex-direction: column;

	@media (min-width : 768px) {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	@media (min-width : 1170px) {
		flex-direction: column;
	}
}

.franchice-buy__offer {
	order: 1;

	@media (min-width : 1170px) {
		order: 0;

		margin-bottom: 60px;
	}
}

.franchice-buy__offer a {
	text-decoration: underline;
}

.submit-column {
	display: flex;
	flex-direction: column;
}

/*expanding
========================================================*/
.expanding {
	color: #131313;

	@media (min-width : 1200px) {
		background-color: #f4f4f4;
		padding: 59px 0;
	}
}

.expanding h1 {
	font-size: 18px;
	font-weight: 700;

	margin-bottom: 60px;

	@media (min-width : 768px) {
		font-size: 24px;

		margin-bottom: 44px;
	}

	@media (min-width : 1170px) {
		margin-bottom: 84px;
	}
}

.expading__description p{
	width: 203px;

	font-size: 16px;
	line-height: 26px;

	position: relative;
	z-index: 2;

	@media (min-width : 768px) {
		width: 305px;
	}

	@media (min-width : 1170px) {
		width: 283px;
		font-size: 18px;
		line-height: 26px;
	}
}

.expading__description {
	margin-bottom: 56px;
	position: relative;

	@media (min-width : 768px) {
		margin-bottom: 80px;
	}

	@media (min-width : 1170px) {
		margin-bottom: 0;
		margin-top: 64px;
	}
}

.expading__description-img{
	position: absolute;
	z-index: 1;
	top: 17px;
	right: -270px;
	width: 370px;

	@media (min-width : 768px) {
		top: -75px;
		right: -212px;
		width: 539px;
	}

	@media (min-width : 1170px) {
		display: none;
	}
}

.expading__new {
	box-shadow: 0 11px 60px rgba(0, 0, 0, 0.13);
	border-radius: 25px;
	background-color: #f4f4f4;

	padding-top: 39px;
	padding-bottom: 58px;
	padding-left: 14px;

	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	overflow: hidden;

	&:before {
		content: '';

		position: absolute;
		top: -17px;
		right: -19px;

		background-image: url('../img/new-tooltip.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		-webkit-background-size: cover;
		background-size: cover;

		width: 133px;
		height: 133px;
	}

	@media (min-width : 768px) {
		padding-top: 54px;
		padding-left: 33px;

		&:before {
			top: 0px;
			right: 0px;

			width: 145px;
			height: 147px;
		}
	}

	@media (min-width : 1170px) {
		background-color: #ffffff;
		padding-top: 66px;
		padding-bottom: 16px;
	}

}

.expading__new-column {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;

	@media (min-width : 768px) {
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
}

.expading__new h2 {
	width: 167px;
	margin: 0 auto;
	margin-bottom: 35px;

	font-size: 18px;
	font-weight: 700;
	text-align: center;

	@media (min-width : 768px) {
		text-align: left;
		font-size: 24px;
		line-height: 30px;
		margin: 0;
		margin-bottom: 35px;
	}

	@media (min-width : 1170px) {
		width: auto;
	}
}

.expading__new p {
	text-align: center;
	font-size: 24px;
	font-weight: 900;

	margin-bottom: 43px;

	display: flex;

	span {
		font-weight: 600;
	}

	@media (min-width : 768px) {
		font-size: 24px;
	}

	@media (min-width : 1170px) {
		text-align: left;
		font-size: 36px;
	}

}

.expading__new a {
	margin-bottom: 52px;

	@media (min-width : 768px) {
		margin-bottom: 0;
	}

	@media (min-width : 1170px) {
		width: 300px;
		height: 64px;
		margin: 0;
	}
}

.btn-new{
	width: 214px;
	height: 64px;
	margin: 0 auto;

	display: block;

	line-height: 64px;
}

.expading__new ul {

	@media (min-width : 1170px) {
		margin-left: -115px;
		margin-top: 90px;
	}
}

.expading__new li {
	max-width: 250px;
	margin: 0 auto;

	@media (min-width : 1170px) {
		padding-left: 40px;
	}
}

.achive-block {

	line-height: 24px;
}

.achive-block li {
	position: relative;

	padding-left: 40px;
	margin-bottom: 24px;

	font-size: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		content: '';

		position: absolute;
		left: 0;
		top: 7px;

		background-image: url('../img/tick.png');
		background-position: 0 0;
		background-repeat: no-repeat;

		width: 18px;
		height: 13px;
	}
}


.expading__new {
	@media (min-width : 768px) {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		max-width: 770px;
	}

	@media (min-width : 1170px) {
		align-items: flex-start;
		width: 760px;
	}
}

.expanding-block {
	@media (min-width : 1170px) {
		max-width: 1170px;
		margin: 0 auto;

		display: flex;
		justify-content: space-between;
	}
}

.expading__container {
	@media (min-width : 1170px) {
		padding: 0;
		width: auto;
		margin: 0;
	}
}

/*run-franchise
=======================================================*/
.run-franchise {
	padding-top: 80px;
	padding-bottom: 67px;

	position: relative;
	z-index: 2;

	@media (min-width : 1170px) {
		background-image: url('../img/big-city.png');
		background-repeat: no-repeat;
		background-position: left 0px bottom 60px;
		padding-bottom: 89px;
	}

	@media (min-width : 1400px) {
		background-position: left 210px bottom 30px;
	}
}

.run-franchise h1 {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;

	margin-bottom: 46px;

	@media (min-width : 768px) {
		font-size: 24px;
	}

	@media (min-width : 1170px) {
		font-size: 36px;
		line-height: 44px;
	}
}

.run-franchise__description {
	font-size: 16px;
	line-height: 24px;
	text-align: center;

	margin-bottom: 48px;

	@media (min-width : 768px) {
		width: 337px;
		margin: 0 auto 48px;
	}

	@media (min-width : 1170px) {
		width: auto;
		margin: 0;
		margin-bottom: 62px;
	}
}

.run-franchise-slider {
	padding-bottom: 0;
	margin-bottom: -62px;
	/*padding-top: 30px;*/

	@media (min-width : 768px) {
		margin-left: 0;
		margin-bottom: -45px;
	}

	@media (min-width : 1170px) {
		padding-top: 30px;

		position: relative;
	}
}

.run-franchise-slider .fun-franchise__wrap{
	display: flex;
	flex-direction: column;

	@media (min-width : 1170px) {
		flex-direction: row;
	}
}

.fun-franchise__wrap .swiper-slide {
	@media (min-width : 768px) {
		/*align-items: center;*/
	}
}

.run-franchise-slider .swiper-pagination{
	top: 0;
}

.run-franchise__services {
	border-radius: 25px;
	background-color: #f4f4f4;
	box-shadow: 0 11px 16px rgba(0, 0, 0, 0.13);

	padding: 58px 15px 25px;

	margin-bottom: 62px;

	position: relative;

	&::before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 21px;
		border-top-left-radius: 17px;
		border-top-right-radius: 17px;
		background-color: #f6ae2d;
	}

	@media (min-width : 768px) {
		padding-right: 40px;
		padding-left: 40px;

		padding-bottom: 40px;
		margin-bottom: 46px;

	}

	@media (min-width : 1170px) {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 25px;

		min-height: 870px;
		margin-bottom: 0;
		box-shadow: none;

		&::before {
			display: none;
		}

		&:hover {
			box-shadow: 0 11px 60px rgba(0, 0, 0, 0.13);

			&::before {
				display: block;
			}

			.run-franchise__services-link {
				background-color: #f6ae2d;
			}
		}
	}

}

.run-franchise__services h2 {
	font-size: 18px;
	text-align: center;

	margin-bottom: 31px;

	@media (min-width : 768px) {
		font-size: 24px;
		text-align: left;
	}

	@media (min-width : 1170px) {
		text-align: center;
	}
}

.run-franchise__services-price {
	width: 163px;
	margin: 0 auto;
	margin-bottom: 44px;

	text-align: right;

	@media (min-width : 768px) {
		margin-right: 0;
		margin-left: 0;

		text-align: left;
	}

	@media (min-width : 1170px) {
		text-align: right;

		width: auto;
	}
}

.run-franchise__services-price .without {
	margin-top: 64px;

	@media (min-width : 1170px) {
		margin-top: 40px;
	}
}

.run-franchise__services-price .old{
	font-size: 16px;
	font-weight: 400;
	text-decoration: line-through;
	color: #858585;


	display: block;

	margin-bottom: 19px;
}

.run-franchise__services-price .new{
	font-weight: 900;
	font-size: 24px;

	display: block;

	@media (min-width : 1170px) {
		font-size: 36px;

		span {
			font-size: 16px;
		}
	}
}


.run-franchise__services-link {
	margin-bottom: 47px;

	@media (min-width : 768px) {
		margin-bottom: 0;
	}

	@media (min-width : 1170px) {
		max-width: 300px;
		width: 100%;
		height: 64px;

		margin-bottom: 46px;

		background-color: #fed68c;
	}
}

.run-franchise__services .achive-block {
	max-width: 250px;
	margin: 0 auto;

	margin-bottom: 51px;

	@media (min-width : 768px) {
		margin-bottom: 0;
		max-width: none;
	}
}

.run-franchise__services .achive-block li {
	padding-left: 31px;
	font-size: 15px;

	@media (min-width : 768px) {
		font-size: 16px;
		padding-left: 45px;
	}
}

.video-review {
	@media (min-width : 768px) {
		display: flex;
		margin-top: 50px;
		align-items: center;
	}

	@media (min-width : 1170px) {
		display: block;
	}
}

.video-review-block {
	@media (min-width : 768px) {
		width: 350px;
	}

	@media (min-width : 1170px) {
		width: auto;
	}
}

.video-review h3 {
	font-size: 16px;
	line-height: 18px;
	text-align: center;

	margin-bottom: 38px;

	@media (min-width : 768px) {
		margin-bottom: 0;
		margin-right: 80px;

		text-align: left;
	}

	@media (min-width : 1170px) {
		margin-right: 0;
		text-align: center;
		margin-bottom: 30px;
	}
}

.video-review__links {
	@media (min-width : 768px) {
		display: flex;
		flex-wrap: wrap;
		-ms-align-items: center;
		align-items: center;

		width: 350px;
		margin-top: -31px;
	}

	@media (min-width : 1170px) {
		width: auto;
		margin-top: 0;
		display: block;
	}
}

.video-review__links li {
	margin-bottom: 31px;

	text-align: center;

	&:last-child {
		margin-bottom: 0px;
		z-index: 2;
	}

	@media (min-width : 768px) {
		text-align: left;
		margin-bottom: 0;

		width: 50%;

		margin-top: 31px;
	}

	@media (min-width : 1170px) {
		width: auto;

		text-align: center;
		margin-top: 0;

		margin-bottom: 13px;
	}
}

.video-review__links a {
	font-size: 14px;
	color: #698cc8;

	line-height: 19px;

	@media (min-width : 1170px) {
		background-color: #ffffff;
		color: #698cc8;
		max-width: 221px;
		width: 100%;
		height: 32px;
		line-height: 32px;
		border-radius: 16px;
		display: block;
		margin: 0 auto;
		position: relative;

		&:hover {
			background-color: #698cc8;
			color: #ffffff;

			background-image: url('../img/play-voice.png');
			background-position: 7% center;
			background-repeat: no-repeat;

		}

	}
}

.video-review__slider{
	position: relative;
}


.video-review__slider .swiper-button-next {
	position: absolute;
	right: 0;
	top: 50%;

	background: url('../img/next-arrow-black.png') no-repeat;

	width: 11px;
	height: 19px;

	@media (min-width : 768px) {
		margin: 0;
		transform: translateY(-11px);
	}
}

.run-franchise-block {
	@media (min-width : 768px) {
		display: flex;
	}

	@media (min-width : 1170px) {
		display: block;
	}
}

.fun-franchise-inner {
	@media (min-width : 768px) {
		margin-right: 117px;
	}

	@media (min-width : 1170px) {
		margin-right: 0;

		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.run-container {
	@media (min-width : 1170px) {
		max-width: 1659px;
	}

	@media (min-width: 1660px) {
		max-width: 1412px;
		position: relative;
		left: 130px;
	}
}

.run-franchise-slider .swiper-pagination{
	background-color: #f4f4f4;
	width: 1170px;
}



/*WOrk-system
===============================================*/
.work-system {
	background-image: url('../img/_cyclist-small.png');

	background-repeat: no-repeat;
	background-color: #f4f4f4;

	background-position: right bottom;

	padding-top: 60px;
	height: 250px;

	@media (min-width : 768px) {
		height: 270px;
		padding-top: 107px;

		background-image: url('../img/_cyclist-middel.png');
	}

	@media (min-width : 1170px) {
		height: 341px;
		padding-top: 114px;
		background-image: url('../img/_cyclist.png');
		background-position: right -190px bottom;
	}

	@media (min-width : 1920px) {
		background-position: right 0px bottom 0px;
	}
}

.work-system  h1 {
	font-size: 18px;
	line-height: 30px;
	color: #131313;

	span {
		width: 25px;
		height: 2px;
		background-color: #131313;
		vertical-align: middle;
		display: inline-block;
		margin-left: 30px;
	}

	@media (min-width : 768px) {
		font-size: 24px;
		line-height: 36px;
	}

	@media (min-width : 1170px) {
		font-size: 36px;
		line-height: 50px;

		span {
			width: 60px;
			height: 3px;
		}
	}
}

/*development
============================================*/
.development {
	padding: 58px 0 78px;
	background-color: #f4f4f4;
	color: #131313;

	@media (min-width : 768px) {
		height: 680px;
		margin-bottom: 360px;

		background-image: url('../img/city-bonus-middle.png');
		background-position: right bottom 105px;
		background-repeat: no-repeat;
	}

	@media (min-width : 1170px) {
		height: auto;
		margin-bottom: 0;
		padding-top: 82px;
		padding-bottom: 0;

		background-image: url('../img/city-bonus-desc.png');
		background-position: left bottom;
		background-repeat: no-repeat;
	}
}

.development .container {
	@media (min-width : 768px) {
		display: flex;
		flex-direction: column;
	}

	@media (min-width : 1170px) {
		flex-direction: row;
		justify-content: space-between;

		background-image: url('../img/book.png');
		background-position: center bottom;
		background-repeat: no-repeat;

		padding-bottom: 28px;
	}
}

.development__description {
	width: 259px;
	margin: 0 auto;
	margin-bottom: 28px;
	font-weight: 700;
	line-height: 26px;

	@media (min-width : 500px) {
		width: 350px;
	}

	@media (min-width : 768px) {
		width: 466px;
		margin: 0;
		margin-bottom: 28px;

		font-size: 24px;
		line-height: 32px;
	}

	@media (min-width : 1170px) {
		font-size: 32px;
		line-height: 49px;

		margin-bottom: 20px;
	}
}

.development__bonus {
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 55px;

	span {
		background-color: #131313;
		padding: 3px;
		background-color: #131313;
		padding: 10px 3px;
		margin-bottom: 5px;
		display: inline-block;

		&:last-child {
			margin-bottom: 0;
		}

		@media (min-width : 768px) {
			font-size: 24px;

			padding: 18px 14px;
			margin-bottom: 3px;
			margin-left: -14px;
		}
	}

	@media (min-width : 1170px) {
		font-size: 30px;
		margin-bottom: 0;
	}

}

.form-call {
	box-shadow: 0 11px 60px rgba(0, 0, 0, 0.23);
	border-radius: 35px;
	background-color: #ffffff;
	padding: 38px 24px 24px 21px;

	@media (min-width : 500px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@media (min-width : 768px) {
		display: inline-block;

		padding: 44px 50px 46px 52px;

		align-self: center;
	}

	@media (min-width : 1170px) {
		margin-top: -40px;
	}
}

.form-call__caption {

	color: #131313;
	font-size: 18px;
	font-weight: 700;
	line-height: 24.98px;

	margin-bottom: 31px;

	@media (min-width : 500px) {
		text-align: center;
	}

	@media (min-width : 768px) {
		width: 371px;
		margin: 0 auto;
		margin-bottom: 49px;
		font-size: 24px;
		line-height: 36px;
	}

}

.form-call__caption span {
	color: #f6ae2d;
}

.form-call__input {
	max-width: 261px;
	width: 100%;
	height: 38px;
	padding: 12px 24px;
	margin-bottom: 13px;

	border-radius: 18px;
	border: 1px solid #dcdcdc;
	background-color: #ffffff;
	display: block;

	font-size: 14px;

	&::placeholder {
		color: #a1a1a1;
	}

	&:focus, {
		border: 1px solid #f6ae2d;
		outline: 1px solid #f6ae2d;
	}

	@media (min-width : 500px) {
		max-width: none;
		width: 300px;
	}

	@media (min-width : 768px) {
		width: 374px;
		height: 54px;
		border-radius: 27px;
		margin-bottom: 20px;
	}
}

.form-call__submit {
	margin-top: 39px;
	font-size: 14px;
	margin-bottom: 16px;
	max-width: 259px;
	width: 100%;
	height: 38px;

	display: block;

	@media (min-width : 500px) {
		max-width: none;
		width: 300px;
	}

	@media (min-width : 768px) {
		margin-top: 56px;
		width: 372px;
		height: 54px;
		font-size: 18px;
		line-height: 16px;
		margin-bottom: 24px;
	}
}

.form-call__info {
	text-align: center;
	color: #a1a1a1;
	font-size: 12px;
	line-height: 14px;

	width: 228px;
	margin: 0 auto;

	@media (min-width : 768px) {
		font-size: 14px;
		line-height: 16px;
		width: 302px;
	}
}

/*interview
====================================*/
.interview {
	padding: 69px 0 31px;

	color: #131313;

	@media (min-width : 1200px) {
		padding: 94px 0 138px;
	}
}

.interview__caption {
	font-size: 17px;
	line-height: 22px;

	margin-bottom: 23px;

	@media (min-width : 768px) {
		font-size: 24px;
	}

	@media (min-width : 1170px) {
		font-size: 36px;
		line-height: 44px;
		width: 351px;
		margin-bottom: 38px;
	}
}

.interview__name {
	font-size: 14px;
	color: #a1a1a1;

	margin-bottom: 42px;

	@media (min-width : 768px) {
		font-size: 16px;
		margin-bottom: 71px;
	}

	@media (min-width : 1170px) {
		color: #313131;
		font-size: 18px;
		line-height: 43px;
		margin-bottom: 70px;
	}
}

.interview__description {
	font-size: 16px;
	line-height: 24px;

	margin-bottom: 32px;

	@media (min-width : 768px) {
		margin-bottom: 54px;
	}

	@media (min-width : 1170px) {
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 64px;
		width: 439px;
	}
}

.interview__description p {
	margin-bottom: 5px;
}

.interview__link_mobile {
	@media (min-width : 1170px) {
		display: none;
	}
}

.interview__link_desc {
	display: none;

	@media (min-width : 1170px) {
		display: inline;
	}
}

.interview__links {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 59px;

	@media (min-width : 768px) {
		flex-direction: row;

		margin-left: -30px;
		margin-bottom: 80px;
	}

	@media (min-width : 1170px) {
		margin-bottom: 129px;
	}
}


.interview__links li {
	margin-bottom: 19px;

	&:last-of-type {
		margin-bottom: 0;
	}

	@media (min-width : 768px) {
		margin-bottom: 0;

		margin-left: 30px;
	}

	@media (min-width : 1170px) {
		&:nth-of-type(1) a {
			width: 429px;
		}

		&:nth-of-type(2) a {
			width: 267px;
		}
	}
}

.interview__links a {
	width: 255px;
	height: 67px;
	line-height: 67px;

	@media (min-width : 768px) {
		width: 213px;
	}

	@media (min-width : 1170px) {
		width: auto;
	}
}

.table-reader {
	padding: 15px;

	border-radius: 30px;
	border: 1px solid #131313;
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	@media (min-width : 768px) {
		width: 488px;
		height: 282px;
		margin: 0 auto;
	}

	@media (min-width : 1170px) {
		margin: 0;
		width: 584px;
		height: 339px;
	}

}

.table-reader_white {
	background-color: #ffffff;
}

.table-reader__play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 44px;
	height: 44px;

	background-color: rgba(45, 45, 45, 0.5);

	font-size: 0;
	border-radius: 50%;
	cursor: pointer;

	&::before {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-5px, -8px);

		width: 14px;
		height: 17px;
		background-image: url('../img/play-white.png');
		background-repeat: no-repeat;
		background-position: 0 0;
	}


	@media (min-width : 768px) {
		width: 55px;
		height: 55px;
	}

	@media (min-width : 1170px) {
		background-color: #000000;
	}
}

.table-reader__play_white {

	@media (min-width : 1170px) {
		background-color: rgba(255, 255, 255, 0.28);
	}

}

.interview-video {
	margin-bottom: 78px;

	@media (min-width : 768px) {
		margin-bottom: 109px;
	}

	@media (min-width : 1170px) {
		margin-left: -140px;
	}
}

.interview-inner-down {
	@media (min-width : 1170px) {
		display: flex;
		justify-content: space-between;
	}
}

.interview__info {
	margin-bottom: 101px;

	@media (min-width : 768px) {
		display: flex;
		justify-content: space-between;
		margin-bottom: 126px;
	}

	@media (min-width : 1170px) {
		flex-direction: column;
		margin-bottom: 0;
	}
}

.interview__info li {
	margin-bottom: 84px;
	position: relative;

	&::before {
		content: '';

		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		background-position: 0 0;
		background-repeat: no-repeat;
	}

	&:nth-of-type(1) {
		padding-top: 104px;

		&::before {
			background-image: url('../img/promotion.png');
			width: 63px;
			height: 63px;
		}
	}

	&:nth-of-type(2) {
		padding-top: 101px;

		&::before {
			background-image: url('../img/leader.png');
			width: 61px;
			height: 61px;
		}
	}

	&:nth-of-type(3) {
		padding-top: 88px;

		&::before {
			background-image: url('../img/sofa.png');
			width: 63px;
			height: 47px;
		}
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	@media (min-width : 768px) {
		margin-bottom: 0;
	}

	@media (min-width : 1170px) {

		padding-left: 135px;

		&:nth-of-type(1),
		&:nth-of-type(2),
		&:nth-of-type(3) {
			padding-top: 0;
		}

		&::before {
			left: 0;
			top:0;
			transform: none;
		}
	}
}

.interview__info h2 {
	font-size: 16px;
	margin-bottom: 36px;
	text-align: center;

	@media (min-width : 1170px) {
		text-align: left;
	}
}

.interview__info p {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	width: 250px;
	margin: 0 auto;

	@media (min-width : 768px) {
		width: 149px;
	}

	@media (min-width : 1170px) {
		width: 271px;
		font-size: 15px;
		line-height: 30px;
		text-align: left;
	}
}

.interview__other-column {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (min-width : 768px) {
		display: block;
	}
}

.interview__other-caption {
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
	color: #f6ae2d;
	margin-bottom: 52px;
	width: 259px;

	@media (min-width : 768px) {
		width: 525px;
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 66px;
	}

	@media (min-width : 1170px) {
		font-size: 36px;
		line-height: 44px;
		width: 516px;
		margin-bottom: 58px;
	}
}

.interview__other-caption  span {
	color: #131313;
}

.interview__other-inner {
	font-size: 16px;
	line-height: 24px;

	width: 260px;

	@media (min-width : 500px) {
		width: 380px;
	}

	@media (min-width : 768px) {
		width: 499px;
	}

	@media (min-width : 1170px) {
		font-size: 18px;
		line-height: 30px;
		width: 501px;
	}
}

.interview__other-inner p {
	margin-bottom: 29px;

	&:nth-of-type(2) {
		margin-bottom: 15px;
	}

	@media (min-width : 768px) {
		margin-bottom: 10px;

		&:nth-of-type(2) {
			margin-bottom: 10px;
		}
	}
}

.interview-inner {
	@media (min-width : 1170px) {
		display: flex;
	}
}

/*collection
=====================================================*/
.collection {
	padding: 36px 0 52px;
	background-color: #f4f4f4;

	@media (min-width : 768px) {
		padding: 71px 0 52px;
	}

	@media (min-width : 1170px) {
		padding: 71px 0 108px;
	}
}

.collection__caption {
	text-align: center;
	line-height: 26px;

	margin-bottom: 10px;

	&:last-of-type {
		margin-bottom: 50px;
	}

	@media (min-width : 768px) {
		&:last-of-type {
			margin-bottom: 60px;
		}
	}

	@media (min-width : 1170px) {
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 81px;
		}
	}
}

.collection__btn {
	width: 277px;
	height: 69px;

	margin: 0 auto;
	display: block;
	line-height: 69px;

	margin-bottom: 79px;

	@media (min-width : 768px) {
		width: 260px;
		height: 69px;

		margin-bottom: 69px;
	}

	@media (min-width : 1170px) {
		width: 290px;
		height: 70px;

		margin-bottom: 82px;
	}
}

.collect-column {
	@media (min-width : 1170px) {
		display: flex;
		justify-content: space-between;

		margin-bottom: 162px;
	}
}

.collection__decription {
	margin-bottom: 35px;

	@media (min-width : 768px) {
		margin-bottom: 38px;
	}

	@media (min-width : 1170px) {
		margin-bottom: 0;
		margin-top: 44px;
	}
}

.collection__decription h2 {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 28px;

	@media (min-width : 768px) {
		font-size: 18px;
		width: 290px;
	}

	@media (min-width : 1170px) {
		margin-bottom: 51px;
		width: 325px;

		font-size: 24px;
		line-height: 32px;
		color: #f6ae2d;

		span {
			color: #131313;
		}
	}
}

.collection__decription p {
	font-size: 16px;
	line-height: 24px;

	span {
		display: none;
	}

	@media (min-width : 768px) {
		width: 245px;
	}

	@media (min-width : 1170px) {
		font-size: 18px;
		line-height: 26px;
		width: 347px;

		span {
			display: inline-block;
		}
	}
}

.collection__video {
	margin-bottom: 62px;

	@media (min-width : 768px) {
		margin-bottom: 92px;
	}

	@media (min-width : 1170px) {
		margin-bottom: 0;
	}
}

/*calculate
=================================================*/
.calculate {
	padding-bottom: 25px;

	color: #131313;
}

.calculate .container {
	@media (min-width : 1170px) {
		display: flex;
		justify-content: space-between;
	}
}

.calculate__caption {
	width: 206px;
	margin-bottom: 49px;


	@media (min-width : 768px) {
		width: 360px;
		margin-bottom: 72px;
	}

	@media (min-width : 1170px) {
		width: 410px;
		margin-bottom: 79px;
	}
}

.calculate__description {
	width: 276px;
	padding-top: 54px;
	padding-bottom: 26px;
	margin-bottom: 54px;

	font-size: 14px;
	line-height: 22px;

	position: relative;

	&:before {
		content: '';

		position: absolute;
		top:0;
		left: 0;

		background-image: url('../img/calculator.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;

		width: 25px;
		height: 32px;
	}

	&:after {
		content: '';

		position: absolute;
		bottom:0;
		left: 0;

		width: 279px;
		height: 1px;
		background-color: #e8e8e8;
	}

	@media (min-width : 500px) {
		width: 330px;
	}

	@media (min-width : 650px) {
		width: auto;
	}

	@media (min-width : 768px) {
		width: 426px;
		font-size: 16px;
		line-height: 30px;

		padding-top: 0;
		padding-left: 59px;

		&::before {
			top: 15px;
		}

		&::after {
			width: 333px;
		}
	}

	@media (min-width : 1170px) {
		font-size: 18px;
		line-height: 30px;
		width: 490px;
		margin-bottom: 72px;
		padding-bottom: 54px;

		&::before {
			top: 3px;
			width: 38px;
			height: 48px;
		}

		&::after {
			width: 639px;
		}
	}
}

.calculate__city {
	margin: 0;
	margin-bottom: 63px;

	@media (min-width : 650px) {
		display: flex;
		align-items: center;
	}

	@media (min-width : 1170px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.calculate__city h2 {
	margin-bottom: 27px;
	font-size: 16px;

	@media (min-width : 650px) {
		margin-bottom: 0;
		margin-right: 9px;
	}

	@media (min-width : 768px) {
		margin-right: 36px;
	}

	@media (min-width : 1170px) {
		font-size: 18px;
		margin-bottom: 35px;
	}
}

.calculate__city ul {
	margin-left: -3px;
	display: flex;

	@media (min-width : 500px) {
		margin-left: -10px;
	}

	@media (min-width : 768px) {
		margin-left: -27px;
	}
}

.calculate__city li {
	margin-left: 3px;

	@media (min-width : 500px) {
		margin-left: 10px;
	}

	@media (min-width : 768px) {
		margin-left: 27px;

		&:nth-of-type(1){
			order: 1;
		}

	}
}

.calculate__city a {
	padding: 12px 14px;

	font-size: 14px;

	@media (min-width : 768px) {
		padding: 0;
		line-height: 48px;
		width: 136px;
		height: 48px;
	}

	@media (min-width : 1170px) {
		width: 205px;
		height: 48px;

		font-size: 16px;
		font-weight: 700;
	}
}

.calculate__apartament {
	margin-bottom: 45px;

	@media (min-width : 768px) {
		display: flex;
	}

	@media (min-width : 1170px) {
		flex-direction: column;
	}
}


.calculate__apartament h2 {
	margin-bottom: 42px;
	font-size: 16px;

	@media (min-width : 768px) {
		margin-right: 35px;
	}

	@media (min-width : 1170px) {
		font-size: 18px;
		margin-bottom: 79px;
	}
}

.calculate__apartament ul {
	display: flex;
	margin-left: -35px;

	@media (min-width : 768px) {
		margin-left: 0;
	}
}

.calculate__apartament li {
	display: flex;
	flex-direction: column;
	margin-left: 35px;
	text-align: center;
	position: relative;

	&::before {
		content: "";

		position: absolute;
		left: -37px;
		top: 8px;


		background-color: #e8e8e8;
		width: 48px;
		height: 4px;
	}

	&:first-of-type {
		&::before {
			display: none;
		}
	}

	@media (min-width : 768px) {
		margin-left: 0px;
		margin-right: 75px;

		&::before {
			left: -78px;
			width: 80px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	@media (min-width : 1170px) {
		margin-right: 83px;

		&::before {
			left: -90px;
			width: 100px;
		}
	}
}


.calculate__apartament a {
	position: relative;
	font-size: 16px;
	padding-top: 38px;
	cursor: pointer;
	z-index: 2;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		width: 17px;
		height: 18px;
		border-radius: 50%;
		box-shadow: 0 2px 10px 6px rgba(0, 0, 0, 0.07);
		background-color: #ffffff;

	}

	@media (min-width : 1170px) {
		font-size: 18px;
		font-weight: 700;
	}
}

.calculate__apartament .calculate-link_active {
	&::before {
		background-color: #f6ae2d;
	}
}

.calculate__apartament .calculate-li-active {
	&::before {
		background-color: #f6ae2d;
	}
}

.calculate__income {
	border-radius: 35px;
	background-color: #f4f4f4;

	padding: 46px 20px 35px;

	@media (min-width : 768px) {
		padding: 60px 41px 80px 36px;
	}

	@media (min-width : 1170px) {
		position: relative;
		margin-top: 70px;
	}
}

.calculate__income-sum {
	font-size: 24px;
	margin-bottom: 29px;
	text-align: center;
	font-weight: 700;

	@media (min-width : 768px) {
		font-size: 29px;
		margin-bottom: 39px;
		text-align: left;
	}

	@media (min-width : 1170px) {
		font-size: 48px;
		margin-bottom: 43px;
		text-align: center;
	}
}

.calculate__income-description {
	font-size: 16px;
	margin-bottom: 46px;
	text-align: center;

	@media (min-width : 768px) {
		margin-bottom: 41px;
		text-align: left;
	}

	@media (min-width : 1170px) {
		font-size: 24px;
		margin-bottom: 77px;
		text-align: center;
	}
}

.calculate__income-statistic {
	margin-bottom: 48px;

	@media (min-width : 768px) {

		display: flex;
		justify-content: space-between;
	}

	@media (min-width : 1170px) {
		flex-direction: column;
	}
}

.calculate__income-statistic li {
	border-radius: 35px;
	background-color: #ffffff;
	position: relative;
	padding: 24px 30px 31px 87px;
	margin-bottom: 21px;

	&::before {
		content: '';

		position: absolute;
		top: 35px;
		left: 31px;


		background-image: url('../img/consumption.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;

		width: 26px;
		height: 42px;
	}

	&:last-child {
		margin-bottom: 0;

		.calculate__income-quest {

		}

		.calculate__income-quest {
			position: absolute;
			top: 17px;
			right: 21px;
			color: #ffffff;
			font-size: 18px;
			line-height: 30px;
			text-align: center;
			width: 28px;
			height: 28px;
			background-color: #b8b8b8;
			border-radius: 50%;
			cursor: pointer;

			&:hover + .calculate__income-info {
				display: block;
			}
		}

	}

	.calculate__income-span {
		display: block;

		margin-bottom: 28px;
		font-size: 16px;
	}

	.calculate__income-span_last{
		margin-bottom: 0;
		font-size: 20px;
		color: #f6ae2d;
		font-weight: 700;
	}

	@media (min-width : 768px) {
		margin-bottom: 0;

		padding: 25px 73px 32px 110px;
		display: flex;

		flex-direction: column;
	}

	@media (min-width : 1170px) {
		margin-bottom: 25px;

		&::before {
			width: 29px;
			height: 48px;
			top:30px;
		}


		.calculate__income-span {
			font-size: 18px;
			margin-bottom: 31px;
		}

		.calculate__income-span_last{
			font-size: 24px;
		}
	}
}

.calculate__income-info {
	box-shadow: 0 11px 59px rgba(0, 0, 0, 0.31);
	background-color: #2d2d2d;

	font-size: 14px;
	line-height: 30px;
	color: #ffffff;

	padding: 30px 17px 17px 27px;
	border-radius: 35px;
	position: absolute;
	top: 60px;
	right: -30px;

	width: 270px;
	display: none;

	&::before {
		content: '';

		position: absolute;
		top: -28px;
		right: 49px;

		width: 15px;
		height: 15px;

		border: 15px solid transparent;
		border-bottom-color: #2d2d2d;
	}

	@media (min-width : 1170px) {
		width: 313px;
	font-size: 15px;

	}
}

.calculate__income-info-inner {
	color: #f6ae2d;
}

.calculate__income-btn {
	max-width: 280px;
	width: 100%;
	height: 64px;
	line-height: 64px;
	margin: 0 auto;
	margin-bottom: 32px;
	display: block;

	@media (min-width : 768px) {
		width: 252px;
		margin: 0;
	}

	@media (min-width : 1170px) {
		max-width: none;
		width: 326px;
		margin-bottom: 22px;
	}
}

.calculate__income-rule {
	color: #a1a1a1;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	width: 222px;
	margin: 0 auto;

	@media (min-width : 768px) {
		width: 258px;
		font-size: 14px;
		margin: 0;
		text-align: left;
	}

	@media (min-width : 1170px) {
		width: 276px;
		text-align: center;
	}
}

.calulate__down-column {
	@media (min-width : 768px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media (min-width : 1170px) {
		flex-direction: column;
	}
}

.calculate__city_active {
	color: #ffffff;
	background-color: #000000;
}

.calculate__apartament .calculate-link_first {
	@media (min-width : 1170px) {
		&::before {
			width: 23px;
			height: 23px;
		}
	}
}
