*,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
    margin: 0;
}

body {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    color: #131313;
}

body,
html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

ol,
ul {
    padding: 0;
    list-style: none;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.loupe {
    border: 1px solid black;
    img {
        max-width: inherit;
    }
}

button {
    cursor: pointer;
    border: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
}