.container.top-main
    .top-main__item
        p.top-main__title 
            b Renthouse
            span франчайзинговая сеть квартир краткосрочной аренды
        
        p.article.top-main__article
            |Чтобы окупить все вложения и заработать от 
            b 1 483 029 рублей 
            |чистой прибыли за 8 месяцев, запросите бизнес-план для своего города
            
        ul.top-main__list
            li
                button(type="button").btn.btn-orange.btn-plan Получить бизнес план
            li
                button(type="button").btn-watch Смотреть видео о нас
            
    .top-main__item
        .top-main__image
            img(src="img/header-bg.jpg")
            ul.top-main__image-article
                li Фотография с первого слета франчайзинга в Москве
                li декабрь 2019
