.top-main-wrap
    .container.top-main
        .top-main__item
            p.top-main__title 
                b Renthouse
                span франчайзинговая сеть квартир краткосрочной аренды

            p.article.top-main__article
                |Чтобы окупить все вложения и заработать от 
                b 1 483 029 рублей 
                |чистой прибыли за 8 месяцев, запросите бизнес-план для своего города

            ul.top-main__list
                li
                    button(type="button").btn.btn-orange.btn-plan.js-call Получить бизнес план
                li
                    a(data-fancybox data-type="iframe" data-src="https://www.youtube.com/embed/Zg95ZA00Ang?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" href="javascript:;").btn-watch Смотреть видео о нас

        .top-main__item
            .top-main__image
                img(src="img/header-bg.jpg")
                ul.top-main__image-article
                    li Фотография с первого слета франчайзинга в Москве
                    li декабрь 2019

.filial-block
    h2.main-title.filial-block__title
        |Мы работаем уже в 
        span 17 городах 
        |России

    p.article.filial-block__article В управлении сети находится более 200 квартир в крупнейших городах

    .filial-slider.swiper-container.progress-slider
        .swiper-wrapper
            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-1.jpg")

                    ul.filial-slider__top
                        li Москва
                        li Открыт 1 филиал

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее

            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-2.jpg")
                    ul.filial-slider__top
                        li Санкт-Петербург
                        li Открыто 2 филиала

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее

            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-3.jpg")
                    ul.filial-slider__top
                        li Екатеринбург
                        li Открыты 3 филиала

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее

            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-4.jpg")
                    ul.filial-slider__top
                        li Казань
                        li Открыты 3 филиала

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее

            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-5.jpg")
                    ul.filial-slider__top
                        li Новосибирск
                        li Открыт 1 филиал

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее

            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-6.jpg")
                    ul.filial-slider__top
                        li Чебоксары
                        li Открыт 1 филиал

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее  

            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-6.jpg")
                    ul.filial-slider__top
                        li Челябинск
                        li Открыт 1 филиал

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее   

        .swiper-pagination
        //- .swiper-scrollbar

.network-block
    h2.main-title.network-block__title
        |Запустите собственную сеть апартаментов
        |в одном из 
        span приоритетных городов

    .network-slider.swiper-container.progress-slider
        .swiper-wrapper
            .swiper-slide
                .network-slider__item
                    img(src="img/sl-7.jpg")
                    ul.network-slider__list
                        li
                            span.network-slider__city Саратов
                        li
                            span.network-slider__article 99 036 087 рублей - потенциальная ежемесячная выручка
                        li
                            button(type="button").btn.btn-black.network-slider__btn.js-call Получить бизнес план

            .swiper-slide
                .network-slider__item
                    img(src="img/sl-8.jpg")
                    ul.network-slider__list
                        li
                            span.network-slider__city Курск
                        li
                            span.network-slider__article 99 036 087 рублей - потенциальная ежемесячная выручка
                        li
                            button(type="button").btn.btn-black.network-slider__btn.js-call Получить бизнес план

            .swiper-slide
                .network-slider__item
                    img(src="img/sl-9.jpg")
                    ul.network-slider__list
                        li
                            span.network-slider__city Таганрог
                        li
                            span.network-slider__article 99 036 087 рублей - потенциальная ежемесячная выручка
                        li
                            button(type="button").btn.btn-black.network-slider__btn.js-call Получить бизнес план

            .swiper-slide
                .network-slider__item
                    img(src="img/sl-10.jpg")
                    ul.network-slider__list
                        li
                            span.network-slider__city Краснодар
                        li
                            span.network-slider__article 99 036 087 рублей - потенциальная ежемесячная выручка
                        li
                            button(type="button").btn.btn-black.network-slider__btn.js-call Получить бизнес план


        .swiper-pagination

.stat-block.container
    h2.main-title.stat-block__title Как RentHouse опережает<br> конкурентов при COVID-19?
    ul.stat-block__inner
        li
            p.stat-block__list-title частники
            .stat-block__img
                img(src="img/40percent.png")

            p.article В результате эпидемии COVID-19 конкуренты сократились на 40% на период марта 2020 года. 
        li
            p.stat-block__list-title RENTHOUSE
            .stat-block__img
                img(src="img/5percent.png")

            p.article.stat-block__article Сеть RentHouse в сравнении <br>февраль-март просела всего на 5%. <br>
                b Какой еще бизнес проходит проверку эпидемией?

.stat-video.container
    .stat-video__item
        .stat-video__article
            p.article Прямо сейчас RentHouse экстренно увеличивает количество квартир и парнеров сети.
            p.article Мы активно наращиваем занимаемую долю рынка. В связи с коронавирусом и паникой на рынке длительной аренды квартир, запуск бизнеса 
                b выгоднее в 2 раза.
            p.article 
                b Послушайте первое обращение основателя сети к потенциальным партнерам

        ul.stat-video__voice-list
            li
                span.voice-item.voice 
                    |Слушать обращение
                    audio(src="audio/audio.mp3").voice-btn__audio  
            li
                span.voice-item.voice 
                    |Слушать обращение
                    audio(src="audio/audio.mp3").voice-btn__audio  

    .stat-video__item
        .video-wrap
            <iframe src="https://www.youtube.com/embed/o-Jqsf3AahA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            //- <video class="video" controls muted poster="video/poster.jpg">
            //-     <source src="video/nature.mp4" type="video/mp4">
            //-     <source src="video/nature.webm" type="video/webm">
            //-     <source src="video/nature.ogv" type="video/ogg">
            //-     <object data="video/nature.swf" type="application/x-shockwave-flash">
            //-         <param name="movie" value="video/nature.swf">
            //-     </object>
            //- </video>

.presentation-block
    .container.presentation-block__top
        .presentation-block__item
            p.presentation-block__article Хотите узнать о наших результатах работы в период коронавируса и задачах до конца карантина?

        .presentation-block__item
            a(href="pdf/book.pdf" target="_blank").btn.btn-orange.presentation-btn Смотреть презентацию 

    .presentation-slider.swiper-container.progress-slider
        .swiper-wrapper
            .swiper-slide
                .presentation-slider__item
                    img(src="img/s-1.jpg")

            .swiper-slide
                .presentation-slider__item
                    img(src="img/s-2.jpg")

            .swiper-slide
                .presentation-slider__item
                    img(src="img/s-3.jpg")

            .swiper-slide
                .presentation-slider__item
                    img(src="img/s-4.jpg")

            .swiper-slide
                .presentation-slider__item
                    img(src="img/s-1.jpg")

        .swiper-pagination

.container.reasons-block#aboutUs
    ul.reasons-block__top
        li
            p.reasons-block__title Субаренда недвижимости
            p.reasons-block__sub-title 6 причин уникальности бизнеса
        li
            .reasons-block__image
                img(src="img/city-img.jpg")

    ol.reasons-list
        li
            p.reasons-list__title Бизнес в сфере недвижимости стабилен
            p.reasons-list__article Людям всегда нужно где-то жить. Наш бизнес построен на 
                span базовой потребности человека. Спрос сохранился даже во время эпидемии COVID-19.
        li
            p.reasons-list__title Отсутствие сезонности
            p.reasons-list__article 
                span В любое время 
                |года есть потребность у работодателей в командировании сотрудников. 
                span Круглогодичный поток клиентов гарантирован.

        li
            p.reasons-list__title Быстрый приток наличных
            p.reasons-list__article Вам не нужно ждать 30 дней, пока закроется сделка, и клиент совершит оплату. 
                span Уже завтра вы сможете сдать квартиру на 30 дней, получив деньги вперед.

        li
            p.reasons-list__title Актуальность в регионах
            p.reasons-list__article Актуально 
                span для любого города 
                |с населением от 200 000 жителей.

        li
            p.reasons-list__title Отсутствие больших ежемесячных затрат
            p.reasons-list__article Вам 
                span не нужно содержать огромный штат 
                |сотрудников и иметь перегруженный фонд.

        li
            p.reasons-list__title Простой вход в бизнес
            p.reasons-list__article
                span Вам не нужно приобретать дорогостоящее оборудование, 
                |арендовать офисы, нести расходы за организационную технику и прочее.


.container.certificate-block#howItWork
    h2.main-title.certificate-block__title Почему стоит выбрать франшизу посуточной аренды квартир RentHouse?
    ul.certificate-info
        li
            p.inner-title.inner-title_lider Лидерство в сфере
            .certificate-info__inner
                .certificate-info__item
                    p.article Франшиза RentHouse самая дорогая в сфере на протяжении 17 месяцев. Наши квартиры самые статусные на рынке, что дает нам сверхприбыль.

                .certificate-info__item.quote
                    p 2760 руб/сутки - средний чек стоимости квартиры в сети за 2019 год
                    p 23% - средний процент рентабельности бизнеса в сети
        li
            //- .certificates
            //-     .certificates__item    
            //-         a(href="img/cert.jpg").certificates__img.zoom-img
            //-             img(src="img/cert.jpg")
            //-         .certificates__article №018-006994
            //- 
            //-     .certificates__item
            //-         a(href="img/cert.jpg").certificates__img.zoom-img
            //-             img(src="img/cert.jpg")
            //-         .certificates__article №018-006994
            
            .certificat-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a(href="img/cert.jpg" data-fancybox="sert").certificates__img.zoom-img
                            img(src="img/cert.jpg")
                        .certificates__article №018-006994
                    .swiper-slide
                        a(href="img/cert.jpg" data-fancybox="sert").certificates__img.zoom-img
                            img(src="img/cert.jpg")
                        .certificates__article №018-006994
                
                .swiper-button-next
                    span
                .swiper-button-prev
                    span

.container.advantage-block
    ul.advantage-block__top
        li
            p.inner-title.inner-title_about У нас - бизнес <br>У рынка - самозанятость
            p.article Мы не обучаем, как снять квартиру и запустить рекламу. У нас система, благодаря которой Вы сможете управлять 75 квартирами и зарабатывать от 1,000,000 рублей ежемесячно.

        li
            p.inner-title.inner-title_logo Бизнес франчайзи никогда не скопируют конкуренты
            p.article Сайты, логотип, презентации и иные графические материалы зарегистрированы в Российском авторском обществе Копирус. 
            p.article
                b Штраф за плагиат 5 000 000 рублей согласно п.1 ст.1406.1 ГК РФ

    ul.advantage-block__future
        li
            p.inner-title.inner-title_future Будущее за RentHouse
            p.article Мы управляем бизнесом через собственную CRM-систему. Собственая IT-платформа дает возможность анализировать сотни метрик и оставаться прибыльными с 2014 года.
        li
            .crm-slider-wrap
                .crm-slider.fotorama(data-nav="thumbs" data-arrows="true" data-thumbwidth="210" data-thumbheight="110" data-click="false" data-swipe="false" data-thumbmargin="21")
                    img(src="img/f4.jpg")
                    img(src="img/f1.jpg")
                    img(src="img/f2.jpg")
                    img(src="img/f3.jpg")

            //- <div class="fotorama" data-nav="thumbs" data-arrows="true" data-thumbwidth="210" data-thumbheight="110" data-click="false" data-swipe="false" data-thumbmargin="21">
            //-     <div data-img="img/slide_1.jpg"><a href="img/slide_1.jpg" data-fancybox="gallery"></a></div>
            //-     <div data-img="img/slide_2.jpg"><a href="img/slide_2.jpg" data-fancybox="gallery"></a></div>
            //-     <div data-img="img/slide_3.jpg"><a href="img/slide_3.jpg" data-fancybox="gallery"></a></div>
            //-     <div data-img="img/slide_4.jpg"><a href="img/slide_4.jpg" data-fancybox="gallery"></a></div>
            //- </div>


            //- .crm-slider.fotorama(data-nav="thumbs" data-arrows="true" data-thumbwidth="210" data-thumbheight="110" data-click="false" data-swipe="false" data-thumbmargin="21")
            //-     <div data-img="img/f4.jpg" style="height:100%;"><a href="img/f4.jpg" data-fancybox="gallery1" style="display:block; height:100%;"></a></div>
            //-     <div data-img="img/f1.jpg" style="height:100%;"><a href="img/f1.jpg" data-fancybox="gallery1" style="display:block; height:100%;"></a></div>
            //-     <div data-img="img/f2.jpg" style="height:100%;"><a href="img/f2.jpg" data-fancybox="gallery1" style="display:block; height:100%;"></a></div>
            //-     <div data-img="img/f3.jpg" style="height:100%;"><a href="img/f3.jpg" data-fancybox="gallery1" style="display:block; height:100%;"></a></div>

            //- .crm-slider.fotorama(data-nav="thumbs" data-arrows="true" data-thumbwidth="210" data-thumbheight="110" data-click="false" data-swipe="false" data-thumbmargin="21")
            //-     <div data-img="img/f4.jpg" style="height:100%;"><a href="img/f4.jpg" data-fancybox="gallery1" style="display:block; height:100%;"></a></div>
            //-     <div data-img="img/f1.jpg" style="height:100%;"><a href="img/f1.jpg" data-fancybox="gallery1" style="display:block; height:100%;"></a></div>
            //-     <div data-img="img/f2.jpg" style="height:100%;"><a href="img/f2.jpg" data-fancybox="gallery1" style="display:block; height:100%;"></a></div>
            //-     <div data-img="img/f3.jpg" style="height:100%;"><a href="img/f3.jpg" data-fancybox="gallery1" style="display:block; height:100%;"></a></div>

    ul.community-block
        li.community-block__item
            .community-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/dsc2.jpg")
                    .swiper-slide
                        img(src="img/dsc2.jpg")
                    .swiper-slide
                        img(src="img/dsc2.jpg")
                    .swiper-slide
                        img(src="img/dsc2.jpg")


                .swiper-button-next
                    span
                .swiper-button-prev
                    span
        li.community-block__item

            .community-block__article
                p.inner-title.inner-title_community Сообщество предпринимателей
                p.article Более 30 франчайзи ежедневно обмениваются опытом и совершенствуют систему.
                p.article Мы уже давно строим бизнес на основе самых эффективных методик, показывающих стабильные результаты более чем в 15 городах России.  

            .quote.community-block__quote
                p Единый контроль за сервисом в каждом городе
                ul
                    li - Регулярный обзвон гостей
                    li - Внутренний рейтинг филиалов 4,7/5
                    li - Тысячи подтверждений 
                        a(href="#") Отзывы

    ul.service-block
        li
            p.inner-title.inner-title_service Единый сервис в сети
            p.article Современные квартиры. Ежедневная бесплатная уборка. Бесплатный душевой комплект для каждого гостя. Текстиль с логотипом компании.

        li
            .community-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/dsc1.jpg")
                    .swiper-slide
                        img(src="img/dsc1.jpg")
                    .swiper-slide
                        img(src="img/dsc1.jpg")
                    .swiper-slide
                        img(src="img/dsc1.jpg")


                .swiper-button-next
                    span
                .swiper-button-prev
                    span

.team-slider-wrap    
    .team-slider.swiper-container.progress-slider
        .swiper-wrapper
            .swiper-slide
                .team-slider__item
                    a(href="img/slide-1.jpg" data-fancybox="gallery" style="display:block;")
                        img(src="img/slide-1.jpg")

            .swiper-slide
                .team-slider__item
                    a(href="img/slide-2.jpg" data-fancybox="gallery" style="display:block;")
                        img(src="img/slide-2.jpg")

            .swiper-slide
                .team-slider__item
                    a(href="img/slide-3.jpg" data-fancybox="gallery" style="display:block;")
                        img(src="img/slide-3.jpg")

            .swiper-slide
                .team-slider__item
                    a(href="img/slide-4.jpg" data-fancybox="gallery" style="display:block;")
                        img(src="img/slide-4.jpg")

            .swiper-slide
                .team-slider__item
                    a(href="img/slide-2.jpg" data-fancybox="gallery" style="display:block;")
                        img(src="img/slide-2.jpg")

        .swiper-pagination
        .swiper-button-next
            span
        .swiper-button-prev
            span



.post-block.container
    p.post-block__title.main-title О нас говорят
        
    .post-slider.swiper-container
        .swiper-wrapper
            .swiper-slide
                .post-slider__item
                    .post-slider__column
                        img(src="img/start-logo.png")
                    .post-slider__column
                        p.post-slider__date 24 октября 2018
                        p.post-slider__title Франчайзинг посуточной аренды квартир
                        p.article.post-slider__article Опыт, инструменты и результат – основные составляющие успешной посуточной аренды квартир в рамках приобретаемой франшизы. Всего существует несколько форматов ведения подобного бизнеса, но, сначала о 8-ми причинах, аргументирующих его начало.
                        a(href="#").post-slider__link Читать статью
                        
            .swiper-slide
                .post-slider__item
                    .post-slider__column
                        img(src="img/start-logo.png")
                    .post-slider__column
                        p.post-slider__date 24 октября 2018
                        p.post-slider__title Франчайзинг посуточной аренды квартир
                        p.article.post-slider__article Опыт, инструменты и результат – основные составляющие успешной посуточной аренды квартир в рамках приобретаемой франшизы. Всего существует несколько форматов ведения подобного бизнеса, но, сначала о 8-ми причинах, аргументирующих его начало.
                        a(href="#").post-slider__link Читать статью

            .swiper-slide
                .post-slider__item
                    .post-slider__column
                        img(src="img/start-logo.png")
                    .post-slider__column
                        p.post-slider__date 24 октября 2018
                        p.post-slider__title Франчайзинг посуточной аренды квартир
                        p.article.post-slider__article Опыт, инструменты и результат – основные составляющие успешной посуточной аренды квартир в рамках приобретаемой франшизы. Всего существует несколько форматов ведения подобного бизнеса, но, сначала о 8-ми причинах, аргументирующих его начало.
                        a(href="#").post-slider__link Читать статью

        .swiper-pagination
    .swiper-button-next.post-block__next
        span
    .swiper-button-prev.post-block__prev
        span


.founder-block
    .founder-block__inner.container
        .founder-block__item
            .founder-img
                img(src="img/director.png" width="648" height="641")

        .founder-block__item
            .founder-block__top
                p.founder-block__title Дмитрий Шабалкин
                p.founder-block__sub-title основатель RentHouse

            ul.founder-icon
                li
                    a(href="https://www.instagram.com/dmitryshabalkin/").founder-image
                        img(src="img/chief-icon.png")

                    a(href="https://www.instagram.com/dmitryshabalkin/").founder-inst
                        |@dmitryshabalkin
                li
                    p.article.founder-block__article Уже 6 лет наша сеть стабильно увеличивает долю занимаемого рынка. Только за последние 
                        b 1,5 года 
                        |мы обработали 
                        b 152 665входящих звонков 
                        |от гостей, провели 
                        b 9413 заселений 
                        |гостей в наши апартаменты и заработали 
                        b 85 292 277 рублей выручки.

                    p.article.founder-block__article У Вас еще есть возможность запустить свою собственную сеть апартаментов под брендом RentHouse.

    .container.founder-block__mob-article
        p.article.founder-block__article Уже 6 лет наша сеть стабильно увеличивает долю занимаемого рынка. Только за последние 
            b 1,5 года 
            |мы обработали 
            b 152 665входящих звонков 
            |от гостей, провели 
            b 9413 заселений 
            |гостей в наши апартаменты и заработали 
            b 85 292 277 рублей выручки.

        p.article.founder-block__article У Вас еще есть возможность запустить свою собственную сеть апартаментов под брендом RentHouse.

.total-block.container
    .total-block__item
        p.main-title.total-block__title Еженедельно мы делимся опытом ведения бизнеса

        .total-block__article
            p.article За 6 лет мы собрали огромную базу знаний об управлении бизнесом в сфере недвижимости и хотим поделиться ей с вами. 
            p.article Все тонкости ведения бизнеса на квартирах, все «подводные камни», юридическая поддержка бизнеса, истории реальных людей - все это мы предоставляем вам!

        ul.subscription
            li
                .subscription__item
                    p.subscription__title.subscription__title_email Еженедельная рассылка на почту
                    p.subscription__article Все только самое полезное
                    a(href="#").subscription__link Подписаться

            li
                .subscription__item    
                    p.subscription__title.subscription__title_youtube Полезный контент на Youtube
                    p.subscription__article Более 40 видео
                    a(href="https://www.youtube.com/channel/UCLrQgO5fb_OSgswDQRQSk5g/videos").subscription__link Смотреть

    .total-block__item 
        .video-wrap
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-nLKY9yj2yA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            //- <video class="video" controls muted poster="img/prev2.jpg">
            //-     <source src="video/nature.mp4" type="video/mp4">
            //-     <source src="video/nature.webm" type="video/webm">
            //-     <source src="video/nature.ogv" type="video/ogg">
            //-     <object data="video/nature.swf" type="application/x-shockwave-flash">
            //-         <param name="movie" value="video/nature.swf">
            //-     </object>
            //- </video>    
.shedule-block-wrap
    .shedule-block.container
        .shedule-block__item
            p.main-title.shedule-block__title Фактический график 
                span повышения цены на франшизу RentHouse

            p.article.shedule-block__article Франшиза постояно совершенствуется. Паушальный взнос регулярно растет в цене. Хотите узнать почему? Спросите у отдела продаж прямо сейчас.
            .shedule-block__btn-wrap.shedule-block__btn-wrap-desc
                button(type="button").btn.btn-black.btn-black_shedule.js-call Получить консультацию


        .shedule-block__item
            .shedule-block__img
                img(src="img/_schedule.png")

            .shedule-block__btn-wrap.shedule-block__btn-wrap-mob  
                button(type="button").btn.btn-black.btn-black_shedule.js-call Получить консультацию

.about-team.container
    .about-team__item
        p.main-title.about-team__title Станьте частью нашей большой команды
        p.article.about-team__article Мы - одна большая команда, поддерживающая друг друга на всех этапах построения бизнеса.
        p.article.about-team__article Мы сплочаем людей ради общей цели - зарабатывать деньги, обеспечить благополучие себе и своей семье.

        .about-team__img
            img(src="img/team-count.png")
            p франчайзи сейчас

    .about-team__item
        ul.about-team__list
            li
                p Регулярные конференции с маркетологами, аналитиками, юристами, психологами, основателем сети и опытными франчайзи
            li
                p Ежедневная мотивация и поддержка в наших чатах
            li
                p Наши франчайзи - это сообщество предпринимателей, зарабатывающих деньги в одном, едином стиле, в разных регионах при управлении и поддержке управляющей компании

.filial-block.filial-block_team
    .about-slider.swiper-container.progress-slider
        .swiper-wrapper
            .swiper-slide
                a(data-fancybox data-type="iframe" data-src="https://www.youtube.com/embed/enRiyPi7fac?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" href="javascript:;") 
                    img(src="img/t-1.jpg")
            .swiper-slide
                img(src="img/t-2.jpg")
            .swiper-slide
                a(data-fancybox data-type="iframe" data-src="https://www.youtube.com/embed/enRiyPi7fac?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" href="javascript:;") 
                    img(src="img/t-3.jpg")
            .swiper-slide
                img(src="img/t-3.jpg")
                
        .swiper-pagination
