p.block-title Кнопки

ul.list-block
    li
        a(href="#").btn.btn-orange Получить бизнес план
    li
        a(href="#").btn.btn-white Другие интервью
    li
        a(href="#").btn.btn-black Получить консультацию
    li
        a(href="#").btn.btn-wheat Получить консультацию

p.block-title Заголовок
h2.main-title Станьте частью нашей большой команды

p.block-title Малый заголовок
h2.article-title Запустите собственную сеть апартаментов в одном из приоритетных городов 

p.block-title Текст блоков
p.article Мы не обучаем, как снять квартиру и запустить рекламу. У нас система, благодаря которой Вы сможете управлять 75 квартирами и зарабатывать от 1,000,000 рублей ежемесячно.
