<section class="run-franchise">
  <div class="container">

    <h1>Форматы запуска <br> франшизы RentHouse</h1>

    <p class="run-franchise__description">Запустите собственную сеть апартаментов с надежной управляющей компанией</p>

    <div class="run-franchise-slider swiper-container progress-slider">
      <div class="swiper-pagination"></div>

      <div class="swiper-wrapper fun-franchise__wrap">


        <div class="swiper-slide">
          <div class="run-franchise__services">
            <h2>Запуск франшизы</h2>

            <p class="run-franchise__services-price">
              <span class="old">499 990 руб.</span>
              <span class="new">399 990 руб.</span>
            </p>

            <a class="btn btn-orange btn-new run-franchise__services-link" href="#">Начать</a>

            <ul class="achive-block">
              <li>Дистанционное групповое <br> обучение с основателем сети</li>
              <li>Корпоративный доступ к <br> технологиям RentHouse</li>
              <li>Дистанционный поиск одной <br> квартиры</li>
            </ul>

            <div class="video-review">
              <h3>Видео-отзывы о пакете<br> «Запуск франшизы»</h3>

              <div class="video-review__slider swiper-container">
                <div class="swiper-wrapper">

                  <div class="swiper-slide">
                    <ul class="video-review__links">
                      <li>
                        <a href="#">Кузнецов Иван</a>
                      </li>
                      <li>
                        <a href="#">Безлер Станислав</a>
                      </li>
                      <li>
                        <a href="#">Незамеева Каролина</a>
                      </li>
                      <li>
                        <a href="#">Паламаржа Константин</a>
                      </li>
                    </ul>
                  </div>


                </div>

                <div class="swiper-button-next"></div>

              </div>
            </div>


          </div>
        </div>


      </div>


    </div>

  </div>
</section>

<section class="expanding">

  <div class="expanding-block">
    <div class="expading__description">
      <div class="container">
        <h1>Мы постоянно расширяемся</h1>

        <p>В 2020 году RentHouse не только станет крупнейшей сетью посуточной аренды квартир в России, но и пойдет за рубеж.</p>
    </div>

    <div class="expading__description-img"><img src="img/city-img.jpg" alt="Город"></div>
  </div>

  <div class="container expading__container">
    <div class="expading__new">
      <div class="expading__new-column">
        <h2>Представительство вне России</h2>
        <p>2 500 000 <span>руб.</span></p>
        <a class="btn btn-orange btn-new" href="#">Начать</a>
      </div>
      <ul class="achive-block">
        <li>Открытие под брендом <br> RentHouse за границей</li>
        <li>Адаптация бизнес-модели с<br>помощью RentHouse</li>
        <li>От 500 000 рублей чистой <br> прибыли и статус «мастер франшизы»</li>
      </ul>
    </div>
  </div>

</div>
</section>

section.buy-franchise
 h1.visually-hidden Оплата франшизы
 .container
  div.buy-franchise__title <p>Вы можете оплатить франшизу <br> RentHouse в <span>один клик</span> с помощью<br> интернет-эквайринга от <span class="buy-franchise__title-img"><img src="img/tinkoff.png" alt="Тинькофф"></span></p>
  .buy-franchise-column
   .buy-franchise__contract
    img(src='img/oferta.jpg')

   form.franchice-form.buy-franchise__form

    fieldset.format
     legend Выбрать формат франшизы

     ul.buy-franchise__format
      li
       input.franchise-form__radio(type='radio' id='run' name='format-franchise')
       label.franchise-form__label(for='run') Запуск франшизы

      li
       input.franchise-form__radio(type='radio' id='coop' name='format-franchise')
       label.franchise-form__label(for='coop') Корпоратиный

      li
       input.franchise-form__radio(type='radio' id='self' name='format-franchise' checked)
       label.franchise-form__label(for='self') Личное открытие

      li
       input.franchise-form__radio(type='radio' id='partner' name='format-franchise')
       label.franchise-form__label(for='partner') Партнерство

      li
       input.franchise-form__radio(type='radio' id='represent' name='format-franchise')
       label.franchise-form__label(for='represent') Представительство вне России


    fieldset.buy-franchise__promocode.promocode
     legend Введите промокод, <br> если он у Вас есть:

     .promocode-column
       label(aria-label='Промокод')
        input.franchice-form__text.promocode__text(type='text')
       button.franchice-form__btn.promocode__btn(type='button') Применить

    p.buy-franchise__sum Cумма к оплате <span>499 990 руб</span>

    .submit-column
     p.franchise-form__offer.franchice-buy__offer
      input.franchise-form__radio(type='checkbox' id='offer' name='agree-franchise')
      label.franchise-form__label(for='offer') Я принимаю условия <a href="#">оферты</a>

     button.btn.btn-orange.franchice-buy__submit(type='sumbit') Оплатить




