.container.top-main
    .top-main__item
        p.top-main__title 
            b Renthouse
            span франчайзинговая сеть квартир краткосрочной аренды
        
        p.article.top-main__article
            |Чтобы окупить все вложения и заработать от 
            b 1 483 029 рублей 
            |чистой прибыли за 8 месяцев, запросите бизнес-план для своего города
            
        ul.top-main__list
            li
                button(type="button").btn.btn-orange.btn-plan Получить бизнес план
            li
                button(type="button").btn-watch Смотреть видео о нас
            
    .top-main__item
        .top-main__image
            img(src="img/header-bg.jpg")
            ul.top-main__image-article
                li Фотография с первого слета франчайзинга в Москве
                li декабрь 2019

.filial-block
    h2.main-title.filial-block__title
        |Мы работаем уже в 
        span 17 городах 
        |России
        
    p.article.filial-block__article В управлении сети находится более 200 квартир в крупнейших городах
    
    .filial-slider.swiper-container
        .swiper-wrapper
            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-1.jpg")
                    ul.filial-slider__top
                        li Москва
                        li Открыт 1 филиал   
                    
            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-2.jpg")
                    ul.filial-slider__top
                        li Санкт-Петербург
                        li Открыто 2 филиала
                    
            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-3.jpg")
                    ul.filial-slider__top
                        li Екатеринбург
                        li Открыты 3 филиала
                    
            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-4.jpg")
                    ul.filial-slider__top
                        li Казань
                        li Открыты 3 филиала
                     
            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-5.jpg")
                    ul.filial-slider__top
                        li Новосибирск
                        li Открыт 1 филиал
                    
            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-6.jpg")
                    ul.filial-slider__top
                        li Чебоксары
                        li Открыт 1 филиал  
                     
            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-6.jpg")
                    ul.filial-slider__top
                        li Челябинск
                        li Открыт 1 филиал   
        
        .swiper-pagination
