<section class="development">
  <h1 class="visually-hidden">Получение финансовой модели</h1>
  <div class="container">
    <div class="development-column">
      <p class="development__description">Вам предлагается за 12 месяцев развить собственную сеть от 75 квартир</p>
      <p class="development__bonus"><span>с ежемесячной прибылью</span><br> <span>от 1 000 000 рублей</span></p>
    </div>

    <form class="development__form form-call">
      <h2 class="form-call__caption">Получить финансовую модель для вашего города <span>БЕСПЛАТНО</span></h2>

      <label aria-label="Имя">
        <input class="form-call__input" type="text" placeholder="Сергей" required>
      </label>

      <label aria-label="Телефон">
        <input class="form-call__input" type="phone" placeholder="+7">
      </label>

      <label aria-label="Почта">
        <input class="form-call__input" type="email" placeholder="E-mail">
      </label>

      <button class="btn btn-orange form-call__submit" type="submit">Получить финансовую модель</button>

      <p class="form-call__info">Нажимая «Получить финансовую модель», вы соглашаетесь на обработку персональных данных </p>
    </form>
  </div>
</section>

<section class="interview">
  <div class="container">
    <div class="interview-inner">
      <div class="interview-block-up">
        <h1 class="interview__caption">Прибыльный бизнес из регионов</h1>
        <p class="interview__name">Интервью с Дмитрием Шабалкиным</p>

        <div class="interview__description"><p>Блогер приехал в Екатеринбург, посмотрел бизнес, поговорил с сотрудниками нашего франчайзи.</p><p>Степаненков Никита поделился секретами ведения бизнеса, как он в регионе России зарабатывает стабильно  от 300 000 рублей в месяц.</p></div>

        <ul class="interview__links">
          <li><a class="btn btn-orange" href="#"><span class="interview__link_desc">Получить предложение о сотрудничестве</span><span class="interview__link_mobile">Стать партнером</span></a></li>
          <li><a class="btn btn-white" href="#">Другие интервью</a></li>
        </ul>
      </div>

      <div class="interview-video">
        <video class="video" controls="" muted="" poster="video/poster.jpg">
          <source src="video/nature.mp4" type="video/mp4" />
          <source src="video/nature.webm" type="video/webm" />
          <source src="video/nature.ogv" type="video/ogg" />
          <object data="video/nature.swf" type="application/x-shockwave-flash">
            <param name="movie" value="video/nature.swf">
          </object>
        </video>
      </div>
    </div>

    <div class="interview-inner-down">
      <ul class="interview__info">
        <li>
          <h2>Маркетинг</h2>
          <p>Средний возврат на вложенный рубль (ROAS) в маркетинг сети = 9,5 рублей</p>
        </li>
        <li>
          <h2>Персонал</h2>
          <p>Делегирование процесса без текучки и стресса</p>
        </li>
        <li>
          <h2>Квартиры</h2>
          <p>Собственники рекомендуют нас своим друзьям. Добавление от 5 квартир в месяц.</p>
        </li>
      </ul>

      <div class="interview__other-column">
        <p class="interview__other-caption">95% наших <span>франчайзи</span> не обладали никакими знаниями <span>в субаренде апартаментов</span></p>

        <div class="interview__other-inner">
          <p>Управляющая компания закладывает системный подход развития бизнеса как при его старте, так и при ежедневной поддержке.</p>
          <p><b>С нашей сетью</b> Вы сможете выйти на доход 1,000,000 рублей чистой прибыли <b>за 12 месяцев</b> развития. </p>
          <p><b>Без нас - от 5 лет.</b></p>
          <p>Все уже решено и работает с 2014 года.</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="work-system">
  <div class="container">
    <h1>Система уже работает <span></span><br> не изобретайте велосипед</h1>
  </div>
</section>

<section class="run-franchise">
  <div class="container">

    <h1>Форматы запуска <br> франшизы RentHouse</h1>

    <p class="run-franchise__description">Запустите собственную сеть апартаментов с надежной управляющей компанией</p>
  </div>
  <div class="container run-container">
    <div class="run-franchise-slider swiper-container progress-slider">
      <div class="swiper-pagination"></div>

      <div class="swiper-wrapper fun-franchise__wrap">


        <div class="swiper-slide">
          <div class="run-franchise__services">
            <div class="run-franchise-block">
              <div class="fun-franchise-inner">
                <h2>Запуск франшизы</h2>

                <p class="run-franchise__services-price">
                  <span class="old">499 990 руб.</span>
                  <span class="new">399 990 <span>руб.</span></span>
                </p>

                <a class="btn btn-orange btn-new run-franchise__services-link" href="#">Начать</a>
              </div>

              <ul class="achive-block">
                <li>Дистанционное групповое <br> обучение с основателем сети</li>
                <li>Корпоративный доступ к <br> технологиям RentHouse</li>
                <li>Дистанционный поиск одной <br> квартиры</li>
              </ul>
            </div>

            <div class="video-review">
              <h3>Видео-отзывы о пакете<br> «Запуск франшизы»</h3>

              <div class="video-review-block">
                <div class="video-review__slider swiper-container">

                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <ul class="video-review__links">
                        <li>
                          <a href="#"><span>Кузнецов Иван</span></a>
                        </li>
                        <li>
                          <a href="#"><span>Безлер Станислав</span></a>
                        </li>
                        <li>
                          <a href="#"><span>Незамеева Каролина</span></a>
                        </li>
                        <li>
                          <a href="#"><span>Паламаржа Константин</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="swiper-button-next"></div>

                </div>


              </div>
            </div>


          </div>
        </div>

        <div class="swiper-slide">
          <div class="run-franchise__services">
            <div class="run-franchise-block">
              <div class="fun-franchise-inner">
                <h2 class="without">Корпоративный</h2>

                <p class="run-franchise__services-price">
                  <span class="new without">599 990 <span>руб.</span></span>
                </p>

                <a class="btn btn-orange btn-new run-franchise__services-link" href="#">Начать</a>
              </div>


              <ul class="achive-block">
                <li>Вам не нужны свои квартиры</li>
                <li>Вас не интересуют расходы на <br>исполнение обязательств</li>
                <li>Вы работаете с B2B рынком, <br> расселяя компании сразу на <br>всю сеть RentHouse c <br> помощью УК и франчайзи на <br> местах</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="swiper-slide">
          <div class="run-franchise__services">
            <div class="run-franchise-block">
              <div class="fun-franchise-inner">
                <h2>Личное открытие</h2>

                <p class="run-franchise__services-price">
                  <span class="old">899 990 руб.</span>
                  <span class="new">749 990 <span>руб.</span></span>
                </p>

                <a class="btn btn-orange btn-new run-franchise__services-link" href="#">Начать</a>
              </div>

              <ul class="achive-block">
                <li>Дистанционное групповое<br> обучение с основателем сети</li>
                <li>Личное обучение с франчайзи<br> категории «А»</li>
                <li>Поиск трех квартир за 10 дней</li>
                <li>Нанимаем сотрудников</li>
                <li>Корпоративный доступ к технологиям RentHouse</li>
              </ul>
            </div>

            <div class="video-review">

              <h3>Видео-отзывы о пакете<br> «Запуск франшизы»</h3>

              <div class="video-review-block">

                <div class="video-review__slider swiper-container">

                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <ul class="video-review__links">
                        <li>
                          <a href="#">Филисов Денис</a>
                        </li>
                        <li>
                          <a href="#">Баранов Федор</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="swiper-button-next"></div>
                </div>

              </div>

            </div>


          </div>
        </div>

        <div class="swiper-slide">
          <div class="run-franchise__services">
            <div class="run-franchise-block">
              <div class="fun-franchise-inner">
                <h2>Партнерство</h2>

                <p class="run-franchise__services-price">
                  <span class="old">1 500 000 руб.</span>
                  <span class="new">1 300 000 <span>руб.</span></span>
                </p>

                <a class="btn btn-orange btn-new run-franchise__services-link" href="#">Начать</a>
              </div>

              <ul class="achive-block">
                <li>Выезд в Ваш город и аренда <br> трех квартир за 10 дней «под ключ»</li>
                <li>Личное обучение с франчайзи<br> категории «А»</li>
                <li><b>Расширенный подбор персонала «под ключ»</b></li>
                <li><b>Маркетинг «под ключ»</b></li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</section>

<section class="expanding">

  <div class="expanding-block">
    <div class="expading__description">
      <div class="container">
        <h1>Мы постоянно расширяемся</h1>

        <p>В 2020 году RentHouse не только станет крупнейшей сетью посуточной аренды квартир в России, но и пойдет за рубеж.</p>
    </div>

    <div class="expading__description-img"><img src="img/city-img.jpg" alt="Город"></div>
  </div>

  <div class="container expading__container">
    <div class="expading__new">
      <div class="expading__new-column">
        <h2>Представительство вне России</h2>
        <p>2 500 000 <span> руб.</span></p>
        <a class="btn btn-orange btn-new" href="#">Начать</a>
      </div>
      <ul class="achive-block">
        <li>Открытие под брендом <br> RentHouse за границей</li>
        <li>Адаптация бизнес-модели с<br>помощью RentHouse</li>
        <li>От 500 000 рублей чистой <br> прибыли и статус «мастер франшизы»</li>
      </ul>
    </div>
  </div>

</div>
</section>

section.buy-franchise
 h1.visually-hidden Оплата франшизы
 .container
  div.buy-franchise__title <p>Вы можете оплатить франшизу <br> RentHouse в <span>один клик</span> с помощью<br> интернет-эквайринга от <span class="buy-franchise__title-img"><img src="img/tinkoff.png" alt="Тинькофф"></span></p>
  .buy-franchise-column
   .buy-franchise__contract
    img(src='img/oferta.jpg')

   form.franchice-form.buy-franchise__form

    fieldset.format
     legend Выбрать формат франшизы

     ul.buy-franchise__format
      li
       input.franchise-form__radio(type='radio' id='run' name='format-franchise')
       label.franchise-form__label(for='run') Запуск франшизы

      li
       input.franchise-form__radio(type='radio' id='coop' name='format-franchise')
       label.franchise-form__label(for='coop') Корпоратиный

      li
       input.franchise-form__radio(type='radio' id='self' name='format-franchise' checked)
       label.franchise-form__label(for='self') Личное открытие

      li
       input.franchise-form__radio(type='radio' id='partner' name='format-franchise')
       label.franchise-form__label(for='partner') Партнерство

      li
       input.franchise-form__radio(type='radio' id='represent' name='format-franchise')
       label.franchise-form__label(for='represent') Представительство вне России


    fieldset.buy-franchise__promocode.promocode
     legend Введите промокод, <br> если он у Вас есть:

     .promocode-column
       label(aria-label='Промокод')
        input.franchice-form__text.promocode__text(type='text')
       button.franchice-form__btn.promocode__btn(type='button') Применить

    p.buy-franchise__sum Cумма к оплате <span>499 990 руб</span>

    .submit-column
     p.franchise-form__offer.franchice-buy__offer
      input.franchise-form__radio(type='checkbox' id='offer' name='agree-franchise')
      label.franchise-form__label(for='offer') Я принимаю условия <a href="#">оферты</a>

     button.btn.btn-orange.franchice-buy__submit(type='sumbit') Оплатить




