<section class="development">
  <h1 class="visually-hidden">Получение финансовой модели</h1>
  <div class="container">
    <div class="development-column">
      <p class="development__description">Вам предлагается за 12 месяцев развить собственную сеть от 75 квартир</p>
      <p class="development__bonus"><span>с ежемесячной прибылью</span><br> <span>от 1 000 000 рублей</span></p>
    </div>

    <form class="development__form form-call">
      <h2 class="form-call__caption">Получить финансовую модель для вашего города <span>БЕСПЛАТНО</span></h2>

      <label aria-label="Имя">
        <input class="form-call__input" type="text" placeholder="Сергей" required>
      </label>

      <label aria-label="Телефон">
        <input class="form-call__input" type="phone" placeholder="+7">
      </label>

      <label aria-label="Почта">
        <input class="form-call__input" type="email" placeholder="E-mail">
      </label>

      <button class="btn btn-orange form-call__submit" type="submit">Получить финансовую модель</button>

      <p class="form-call__info">Нажимая «Получить финансовую модель», вы соглашаетесь на обработку персональных данных </p>
    </form>
  </div>
</section>

<section class="interview">
  <div class="container">
    <div class="interview-inner">
      <div class="interview-block-up">
        <h1 class="interview__caption">Прибыльный бизнес из регионов</h1>
        <p class="interview__name">Интервью с Дмитрием Шабалкиным</p>

        <div class="interview__description"><p>Блогер приехал в Екатеринбург, посмотрел бизнес, поговорил с сотрудниками нашего франчайзи.</p><p>Степаненков Никита поделился секретами ведения бизнеса, как он в регионе России зарабатывает стабильно  от 300 000 рублей в месяц.</p></div>

        <ul class="interview__links">
          <li><a class="btn btn-orange" href="#"><span class="interview__link_desc">Получить предложение о сотрудничестве</span><span class="interview__link_mobile">Стать партнером</span></a></li>
          <li><a class="btn btn-white" href="#">Другие интервью</a></li>
        </ul>
      </div>

      <div class="interview-video table-reader">
        <img src="img/interview-preview.png" alt="Интервью">
        <button class="table-reader__play video-play" type="button">play</button>
      </div>
    </div>

    <div class="interview-inner-down">
      <ul class="interview__info">
        <li>
          <h2>Маркетинг</h2>
          <p>Средний возврат на вложенный рубль (ROAS) в маркетинг сети = 9,5 рублей</p>
        </li>
        <li>
          <h2>Персонал</h2>
          <p>Делегирование процесса без текучки и стресса</p>
        </li>
        <li>
          <h2>Квартиры</h2>
          <p>Собственники рекомендуют нас своим друзьям. Добавление от 5 квартир в месяц.</p>
        </li>
      </ul>

      <div class="interview__other-column">
        <p class="interview__other-caption">95% наших <span>франчайзи</span> не обладали никакими знаниями <span>в субаренде апартаментов</span></p>

        <div class="interview__other-inner">
          <p>Управляющая компания закладывает системный подход развития бизнеса как при его старте, так и при ежедневной поддержке.</p>
          <p><b>С нашей сетью</b> Вы сможете выйти на доход 1,000,000 рублей чистой прибыли <b>за 12 месяцев</b> развития. </p>
          <p><b>Без нас - от 5 лет.</b></p>
          <p>Все уже решено и работает с 2014 года.</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="work-system">
  <div class="container">
    <h1>Система уже работает <span></span><br> не изобретайте велосипед</h1>
  </div>
</section>

<section class="perks">
  <div class="container perks-block">

    <div class="container">
    <h1 class="perks__caption">В RentHouse все <span>уже сделано за Вас!</span></h1>

    <div class="perks__description">
      <p>Все, что нужно для прибыльного бизнеса, уже есть в нашей франшизе!</p>
      <p>Минимальное операционное управление. Занимайтесь развитием с командой с фокусировкой на чистой прибыли.</p>
    </div>

    <div class="perks__video">
      <div class="perks__video-block">
        <img src=img/testimonials.png alt="Отзывы партнеров">
        <button class="table-reader__play table-reader__play_white video-play" type="button">play</button>
      </div>
      <p>О поддержке франчайзи</p>
    </div>
  </div>

  <div class="perks__slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="perks__slider-column">
            <div class="perks__slider-item perks__slider-item_marketing">
              <h2>Маркетинг «под ключ»</h2>
              <p>Управляющая компания берет на себя поиск клиентов, аналитическую и финансовую автоматизацию Вашего бизнеса.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="perks__slider-column">
            <div class="perks__slider-item perks__slider-item_search">
              <h2>Поиск персонала «под ключ»</h2>
              <p>Рекрутеры управляющей компании найдут в Вашем городе кандидатов в Вашу команду.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="perks__slider-column">
            <div class="perks__slider-item perks__slider-item_run">
              <h2>Личный запуск</h2>
              <p>Представитель управляющей компании приедет в Ваш город , подберет 5 квартир, от 2 сотрудников «под ключ» Представитель - действующий франчайзи категории «А» (огромная возможность лично «впитать» нюансы развития собственного бизнеса от опытного франчайзи)</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="perks__slider-column">
            <div class="perks__slider-item perks__slider-item_education">
              <h2>Постоянное обучение</h2>
              <p>Наши парнеры постоянно обучаются и делятся знаниями с командой.</p>
              <p>Вам предлагается получить сразу самые эффективные практики ведения бизнеса, проверенные в 15 городах России.</p>
            </div>
          </div>
        </div>

      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

</div>
</section>

<section class="calculate">
  <div class="container">
   <div class="calculate-column">
    <h1 class="main-title calculate__caption">Посчитайте, сколько вы будете зарабатывать</h1>

    <p class="calculate__description">Итоговый расчет производится на основе аналитики деятельности 22 филиалов RentHouse</p>

    <div class="calculate__city">
      <h2>Выберите город</h2>

      <ul>
        <li><a class="btn btn-white calculate-city-link" data-amount="80000" href="#">Москва</a></li>
        <li><a class="btn btn-white calculate-city-link calculate__city_active" data-amount="45000" href="#">Регион</a></li>
        <li><a class="btn btn-white calculate-city-link" data-amount="60000" href="#">Миллионник</a></li>
      </ul>
    </div>

    <div class="calculate__apartament">
      <h2>Количество квартир</h2>

      <ul>
        <li class="calculate-li-active">
          <a class="calculate-link calculate-link_active" data-num="5" href="#">5</a>
        </li>
        <li class="calculate-li-active">
            <a class="calculate-link calculate-link_active" data-num="10" href="#">10</a>
        </li>
        <li class="calculate-li-active">
          <a class="calculate-link calculate-link_active" data-num="20" href="#">20</a>
        </li>
        <li class="calculate-li-active">
          <a class="calculate-link calculate-link_active" data-num="40" href="#">40</a>
        </li>
        <li class="calculate-li-active">
          <a class="calculate-link calculate-link_active calculate-link_first" data-num="60" href="#">60</a>
        </li>
        <li>
          <a class="calculate-link" data-num="100" href="#">100</a>
        </li>
      </ul>
    </div>
   </div>

    <div class="calculate__income">
      <p class="calculate__income-sum"><span class="js-clear-income">630 000</span> руб</p>
      <p class="calculate__income-description">Чистая прибыль в месяц</p>

      <ul class="calculate__income-statistic">
        <li>
          <span class="calculate__income-span">Ваш доход</span>
          <span class="calculate__income-span_last"><span class="js-income">900 000</span> руб</span>
        </li>

        <li>
          <span class="calculate__income-span">Расходы</span>
          <span class="calculate__income-span_last"><span class="js-consumption">300 000</span> руб</span>

          <span class="calculate__income-quest">?</span>

          <div class="calculate__income-info">
            <p>Выплаты сотрудникам - <span class="js-workers">30 000</span> руб</p>
            <p>Реклама - <span class="js-add">75 000</span> руб</p>
            <p>Аренда офиса - <span class="js-office">8 000</span> руб</p>
            <p>Сотовая связь - <span class="js-mobile">2 000</span> руб</p>
            <p>Себестоимость квартир - <span class="js-apartaments">300 000</span> руб</p>
            <p>Создание сайта - <span class="calculate__income-info-inner">бесплатно</span></p>
            <p>Фирменный дизайн - <span class="calculate__income-info-inner">бесплатно</span></p>
            <p>Подробнее в бесплатной финансовой модели Вашего города</p>
          </div>
        </li>
      </ul>

      <div class="calulate__down-column">
        <a class="btn btn-orange calculate__income-btn" href="#">Получить бизнес-план</a>

        <p class="calculate__income-rule">Нажимая «Получить», вы соглашаетесь на обработку персональных данных</p>
      </div>
    </div>

  </div>
</section>

<section class="collection">
  <div class="container">
    <h2 class="main-title collection__caption">Все готово и работает в 15 городах России</h2>
    <h2 class="main-title collection__caption">Получите финансовую модель для Вашего города</h2>
    <a class="btn btn-orange collection__btn" href="#">Получить бизнес-план</a>

    <div class="collect-column">

      <div class="collection__decription">
        <h2>Первый слет франчайзи в Москве <span>в декабре 2019 года</span></h2>
        <p>Посмотрите, как это было, и что говорят франчайзи о франшизе <span>RentHouse</span></p>
      </div>

      <div class="collection__video table-reader table-reader_white">
        <img src="img/collect-video.png" alt="Интервью">
        <button class="table-reader__play table-reader__play_white video-play" type="button">play</button>
      </div>

    </div>

  </div>

  .collection__slider
    .team-slider.swiper-container.progress-slider
        .swiper-wrapper
            .swiper-slide
                .team-slider__item
                    a(href="img/slide-1.jpg" data-fancybox="gallery" style="display:block;")
                        img(src="img/slide-1.jpg")

            .swiper-slide
                .team-slider__item
                    a(href="img/slide-2.jpg" data-fancybox="gallery" style="display:block;")
                        img(src="img/slide-2.jpg")

            .swiper-slide
                .team-slider__item
                    a(href="img/slide-3.jpg" data-fancybox="gallery" style="display:block;")
                        img(src="img/slide-3.jpg")

            .swiper-slide
                .team-slider__item
                    a(href="img/slide-4.jpg" data-fancybox="gallery" style="display:block;")
                        img(src="img/slide-4.jpg")

            .swiper-slide
                .team-slider__item
                    a(href="img/slide-2.jpg" data-fancybox="gallery" style="display:block;")
                        img(src="img/slide-2.jpg")

        .swiper-pagination
        .swiper-button-next
            span
        .swiper-button-prev
            span
</section>

<section class="run-franchise">
  <div class="container">

    <h1>Форматы запуска <br> франшизы RentHouse</h1>

    <p class="run-franchise__description">Запустите собственную сеть апартаментов с надежной управляющей компанией</p>
  </div>
  <div class="container run-container">
    <div class="run-franchise-slider swiper-container progress-slider">
      <div class="swiper-pagination"></div>

      <div class="swiper-wrapper fun-franchise__wrap">


        <div class="swiper-slide">
          <div class="run-franchise__services">
            <div class="run-franchise-block">
              <div class="fun-franchise-inner">
                <h2>Запуск франшизы</h2>

                <p class="run-franchise__services-price">
                  <span class="old">499 990 руб.</span>
                  <span class="new">399 990 <span>руб.</span></span>
                </p>

                <a class="btn btn-orange btn-new run-franchise__services-link" href="#">Начать</a>
              </div>

              <ul class="achive-block">
                <li>Дистанционное групповое <br> обучение с основателем сети</li>
                <li>Корпоративный доступ к <br> технологиям RentHouse</li>
                <li>Дистанционный поиск одной <br> квартиры</li>
              </ul>
            </div>

            <div class="video-review">
              <h3>Видео-отзывы о пакете<br> «Запуск франшизы»</h3>

              <div class="video-review-block">
                <div class="video-review__slider swiper-container">

                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <ul class="video-review__links">
                        <li>
                          <a href="#"><span>Кузнецов Иван</span></a>
                        </li>
                        <li>
                          <a href="#"><span>Безлер Станислав</span></a>
                        </li>
                        <li>
                          <a href="#"><span>Незамеева Каролина</span></a>
                        </li>
                        <li>
                          <a href="#"><span>Паламаржа Константин</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="swiper-button-next"></div>

                </div>


              </div>
            </div>


          </div>
        </div>

        <div class="swiper-slide">
          <div class="run-franchise__services">
            <div class="run-franchise-block">
              <div class="fun-franchise-inner">
                <h2 class="without">Корпоративный</h2>

                <p class="run-franchise__services-price">
                  <span class="new without">599 990 <span>руб.</span></span>
                </p>

                <a class="btn btn-orange btn-new run-franchise__services-link" href="#">Начать</a>
              </div>


              <ul class="achive-block">
                <li>Вам не нужны свои квартиры</li>
                <li>Вас не интересуют расходы на <br>исполнение обязательств</li>
                <li>Вы работаете с B2B рынком, <br> расселяя компании сразу на <br>всю сеть RentHouse c <br> помощью УК и франчайзи на <br> местах</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="swiper-slide">
          <div class="run-franchise__services">
            <div class="run-franchise-block">
              <div class="fun-franchise-inner">
                <h2>Личное открытие</h2>

                <p class="run-franchise__services-price">
                  <span class="old">899 990 руб.</span>
                  <span class="new">749 990 <span>руб.</span></span>
                </p>

                <a class="btn btn-orange btn-new run-franchise__services-link" href="#">Начать</a>
              </div>

              <ul class="achive-block">
                <li>Дистанционное групповое<br> обучение с основателем сети</li>
                <li>Личное обучение с франчайзи<br> категории «А»</li>
                <li>Поиск трех квартир за 10 дней</li>
                <li>Нанимаем сотрудников</li>
                <li>Корпоративный доступ к технологиям RentHouse</li>
              </ul>
            </div>

            <div class="video-review">

              <h3>Видео-отзывы о пакете<br> «Запуск франшизы»</h3>

              <div class="video-review-block">

                <div class="video-review__slider swiper-container">

                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <ul class="video-review__links">
                        <li>
                          <a href="#">Филисов Денис</a>
                        </li>
                        <li>
                          <a href="#">Баранов Федор</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="swiper-button-next"></div>
                </div>

              </div>

            </div>


          </div>
        </div>

        <div class="swiper-slide">
          <div class="run-franchise__services">
            <div class="run-franchise-block">
              <div class="fun-franchise-inner">
                <h2>Партнерство</h2>

                <p class="run-franchise__services-price">
                  <span class="old">1 500 000 руб.</span>
                  <span class="new">1 300 000 <span>руб.</span></span>
                </p>

                <a class="btn btn-orange btn-new run-franchise__services-link" href="#">Начать</a>
              </div>

              <ul class="achive-block">
                <li>Выезд в Ваш город и аренда <br> трех квартир за 10 дней «под ключ»</li>
                <li>Личное обучение с франчайзи<br> категории «А»</li>
                <li><b>Расширенный подбор персонала «под ключ»</b></li>
                <li><b>Маркетинг «под ключ»</b></li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</section>

<section class="expanding">

  <div class="expanding-block">
    <div class="expading__description">
      <div class="container">
        <h1>Мы постоянно расширяемся</h1>

        <p>В 2020 году RentHouse не только станет крупнейшей сетью посуточной аренды квартир в России, но и пойдет за рубеж.</p>
    </div>

    <div class="expading__description-img"><img src="img/city-img.jpg" alt="Город"></div>
  </div>

  <div class="container expading__container">
    <div class="expading__new">
      <div class="expading__new-column">
        <h2>Представительство вне России</h2>
        <p>2 500 000 <span> руб.</span></p>
        <a class="btn btn-orange btn-new" href="#">Начать</a>
      </div>
      <ul class="achive-block">
        <li>Открытие под брендом <br> RentHouse за границей</li>
        <li>Адаптация бизнес-модели с<br>помощью RentHouse</li>
        <li>От 500 000 рублей чистой <br> прибыли и статус «мастер франшизы»</li>
      </ul>
    </div>
  </div>

</div>
</section>

section.buy-franchise
 h1.visually-hidden Оплата франшизы
 .container
  div.buy-franchise__title <p>Вы можете оплатить франшизу <br> RentHouse в <span>один клик</span> с помощью<br> интернет-эквайринга от <span class="buy-franchise__title-img"><img src="img/tinkoff.png" alt="Тинькофф"></span></p>
  .buy-franchise-column
   .buy-franchise__contract
    img(src='img/oferta.jpg')

   form.franchice-form.buy-franchise__form

    fieldset.format
     legend Выбрать формат франшизы

     ul.buy-franchise__format
      li
       input.franchise-form__radio(type='radio' id='run' name='format-franchise')
       label.franchise-form__label(for='run') Запуск франшизы

      li
       input.franchise-form__radio(type='radio' id='coop' name='format-franchise')
       label.franchise-form__label(for='coop') Корпоратиный

      li
       input.franchise-form__radio(type='radio' id='self' name='format-franchise' checked)
       label.franchise-form__label(for='self') Личное открытие

      li
       input.franchise-form__radio(type='radio' id='partner' name='format-franchise')
       label.franchise-form__label(for='partner') Партнерство

      li
       input.franchise-form__radio(type='radio' id='represent' name='format-franchise')
       label.franchise-form__label(for='represent') Представительство вне России


    fieldset.buy-franchise__promocode.promocode
     legend Введите промокод, <br> если он у Вас есть:

     .promocode-column
       label(aria-label='Промокод')
        input.franchice-form__text.promocode__text(type='text')
       button.franchice-form__btn.promocode__btn(type='button') Применить

    p.buy-franchise__sum Cумма к оплате <span>499 990 руб</span>

    .submit-column
     p.franchise-form__offer.franchice-buy__offer
      input.franchise-form__radio(type='checkbox' id='offer' name='agree-franchise')
      label.franchise-form__label(for='offer') Я принимаю условия <a href="#">оферты</a>

     button.btn.btn-orange.franchice-buy__submit(type='sumbit') Оплатить




