.container.top-main
    .top-main__item
        p.top-main__title 
            b Renthouse
            span франчайзинговая сеть квартир краткосрочной аренды

        p.article.top-main__article
            |Чтобы окупить все вложения и заработать от 
            b 1 483 029 рублей 
            |чистой прибыли за 8 месяцев, запросите бизнес-план для своего города

        ul.top-main__list
            li
                button(type="button").btn.btn-orange.btn-plan Получить бизнес план
            li
                button(type="button").btn-watch Смотреть видео о нас

    .top-main__item
        .top-main__image
            img(src="img/header-bg.jpg")
            ul.top-main__image-article
                li Фотография с первого слета франчайзинга в Москве
                li декабрь 2019

.filial-block
    h2.main-title.filial-block__title
        |Мы работаем уже в 
        span 17 городах 
        |России

    p.article.filial-block__article В управлении сети находится более 200 квартир в крупнейших городах

    .filial-slider.swiper-container.progress-slider
        .swiper-wrapper
            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-1.jpg")

                    ul.filial-slider__top
                        li Москва
                        li Открыт 1 филиал

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее

            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-2.jpg")
                    ul.filial-slider__top
                        li Санкт-Петербург
                        li Открыто 2 филиала

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее

            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-3.jpg")
                    ul.filial-slider__top
                        li Екатеринбург
                        li Открыты 3 филиала

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее

            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-4.jpg")
                    ul.filial-slider__top
                        li Казань
                        li Открыты 3 филиала

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее

            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-5.jpg")
                    ul.filial-slider__top
                        li Новосибирск
                        li Открыт 1 филиал

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее

            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-6.jpg")
                    ul.filial-slider__top
                        li Чебоксары
                        li Открыт 1 филиал

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее  

            .swiper-slide
                .filial-slider__item
                    img(src="img/sl-6.jpg")
                    ul.filial-slider__top
                        li Челябинск
                        li Открыт 1 филиал

                    ul.filial-slider__bottom
                        li 
                            span.franchaize 5 франчайзи
                        li 
                            a(href="#").link-detail Подробнее   

        .swiper-pagination

.network-block
    h2.main-title.network-block__title
        |Запустите собственную сеть апартаментов
        |в одном из 
        span приоритетных городов

    .network-slider.swiper-container.progress-slider
        .swiper-wrapper
            .swiper-slide
                .network-slider__item
                    img(src="img/sl-7.jpg")
                    ul.network-slider__list
                        li
                            span.network-slider__city Саратов
                        li
                            span.network-slider__article 99 036 087 рублей - потенциальная ежемесячная выручка
                        li
                            button(type="button").btn.btn-black.network-slider__btn Получить бизнес план

            .swiper-slide
                .network-slider__item
                    img(src="img/sl-8.jpg")
                    ul.network-slider__list
                        li
                            span.network-slider__city Курск
                        li
                            span.network-slider__article 99 036 087 рублей - потенциальная ежемесячная выручка
                        li
                            button(type="button").btn.btn-black.network-slider__btn Получить бизнес план

            .swiper-slide
                .network-slider__item
                    img(src="img/sl-9.jpg")
                    ul.network-slider__list
                        li
                            span.network-slider__city Таганрог
                        li
                            span.network-slider__article 99 036 087 рублей - потенциальная ежемесячная выручка
                        li
                            button(type="button").btn.btn-black.network-slider__btn Получить бизнес план

            .swiper-slide
                .network-slider__item
                    img(src="img/sl-10.jpg")
                    ul.network-slider__list
                        li
                            span.network-slider__city Краснодар
                        li
                            span.network-slider__article 99 036 087 рублей - потенциальная ежемесячная выручка
                        li
                            button(type="button").btn.btn-black.network-slider__btn Получить бизнес план


        .swiper-pagination

.stat-block.container
    h2.main-title.stat-block__title Как RentHouse опережает<br> конкурентов при COVID-19?
    ul.stat-block__inner
        li
            p.stat-block__list-title частники
            .stat-block__img
                img(src="img/40percent.png")

            p.article В результате эпидемии COVID-19 конкуренты сократились на 40% на период марта 2020 года. 
        li
            p.stat-block__list-title RENTHOUSE
            .stat-block__img
                img(src="img/5percent.png")

            p.article.stat-block__article Сеть RentHouse в сравнении февраль-март просела всего на 5%. <br>
                b Какой еще бизнес проходит проверку эпидемией?

.stat-video.container
    .stat-video__item
        .stat-video__article
            p.article Прямо сейчас RentHouse экстренно увеличивает количество квартир и парнеров сети.
            p.article Мы активно наращиваем занимаемую долю рынка. В связи с коронавирусом и паникой на рынке длительной аренды квартир, запуск бизнеса 
                b выгоднее в 2 раза.
            p.article 
                b Послушайте первое обращение основателя сети к потенциальным партнерам
        
        ul.stat-video__voice-list
            li
                span.voice-item Слушать обращение
            li
                span.voice-item Слушать обращение
                
    .stat-video__item
        .video-wrap
            <video class="video" controls muted poster="video/poster.jpg">
                <source src="video/nature.mp4" type="video/mp4">
                <source src="video/nature.webm" type="video/webm">
                <source src="video/nature.ogv" type="video/ogg">
                <object data="video/nature.swf" type="application/x-shockwave-flash">
                    <param name="movie" value="video/nature.swf">
                </object>
            </video>

.presentation-block
    .container.presentation-block__top
        .presentation-block__item
            p.presentation-block__article Хотите узнать о наших результатах работы в период коронавируса и задачах до конца карантина?
        
        .presentation-block__item
            button(type="button").btn.btn-orange.presentation-btn Смотреть презентацию 
    
    .presentation-slider.swiper-container.progress-slider
        .swiper-wrapper
            .swiper-slide
                .presentation-slider__item
                    img(src="img/s-1.jpg")
                        
            .swiper-slide
                .presentation-slider__item
                    img(src="img/s-2.jpg")
                        
            .swiper-slide
                .presentation-slider__item
                    img(src="img/s-3.jpg")
                        
            .swiper-slide
                .presentation-slider__item
                    img(src="img/s-4.jpg")
                        
            .swiper-slide
                .presentation-slider__item
                    img(src="img/s-1.jpg")

        .swiper-pagination
