.request-modal.modal#recalModal
    form.form-modal(method="post")
        button(type="button").close-modal

        p.request-modal__title Получить консультацию
        p.request-modal__article Наш менеджер свяжется с вами в течение 15 минут и ответит на все вопросы

        input.inp(type="text" placeholder="Имя" name="uname")
        input.inp(type="text" placeholder="+7(999)999-99-99" name="phone").phone-inp
        input.inp(type="text" placeholder="E-mail" name="email")

        .request-modal__button-wrap
            button(type="submit" name="submit").btn.btn-orange.btn_form Отправить

        p.privacy Нажимая кнопку, принимаю условия политики и   
            a(href="#") пользовательского соглашения

.modal-mail.modal#mailing
    form.form-modal(method="post")
        button(type="button").close-modal

        p.request-modal__title Подписаться на еженедельную рассылку
        input.inp(type="text" placeholder="E-mail" name="email")

        .request-modal__button-wrap
            button(type="submit" name="submit").btn.btn-orange.btn_form Подписаться

        p.privacy Нажимая кнопку, принимаю условия политики и 
            a(href="#") пользовательского соглашения

.thanks-modal.modal
    .form-modal
        button(type="submit").close-modal

        p.request-modal__title Спасибо за заявку!
        p.request-modal__article.request-modal__article_thanks Проверьте Вашу почту, наше предложение уже ждет Вас там

        .presentation        
            p.presentation__title 
                b Вы можете посмотреть уникальные презентации уже сейчас:

            .modal-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .presentation-slider__img
                            img(src="img/ps-1.jpg")

                        p.presentation-slider__article Сколько я смогу зарабатывать?

                    .swiper-slide
                        .presentation-slider__img
                            img(src="img/ps-2.jpg")

                        p.presentation-slider__article Почему RentHouse?

                .swiper-button-next
                .swiper-button-prev

        ul.social-link
            li
                a(href="#")
                    img(src="img/youtube-icon-g.png")
            li
                a(href="#")
                    img(src="img/telegram-icon-g.png")
            li
                a(href="#")
                    img(src="img/inst-icon-g.png")

.franchaizi-modal.modal#skbModal
    .franchaizi-modal__inner
        button(type="submit").close-modal

        p.request-modal__title Франчайзи в Санкт Петербурге

        .franchaizi-scroll-box.swiper-container
            .swiper-wrapper
                .swiper-slide
                    ul.franchaizi-list
                        li.franchaizi-list__item
                            .franchaizi-list__inner
                                .franchaizi-list__column
                                    .franchaizi-list__img
                                        img(src="img/batalovy.jpg")
                                        .franchaizi-list__voice.voice-btn.voice
                                            audio(src="audio/batalov-audio.mp3").voice-btn__audio

                                .franchaizi-list__column
                                    .franchaizi-list__name Вероника и Евгений Баталовы
                                    .franchaizi-list__article Запуск 10 июня 2018

                                .franchaizi-list__column
                                    ul.franchaizi-list__info
                                        li
                                            a(href="tel:78126027215").franchaizi-list__phone +7 (812) 602 72 15
                                        li
                                            a(href="mailto:ekaterinburg.reho24.ru").franchaizi-list__email spb.reho24.ru 
                                        li
                                            a(href="mailto:ekaterinburg@reho24.ru").franchaizi-list__email spb@reho24.ru

                                .franchaizi-list__column
                                 

                        li.franchaizi-list__item
                            .franchaizi-list__inner
                                .franchaizi-list__column
                                    .franchaizi-list__img
                                        img(src="img/mitkin.jpg")
                                        //- .franchaizi-list__voice.voice-btn.voice
                                        //-     audio(src="audio/batalov-audio.mp3").voice-btn__audio

                                .franchaizi-list__column
                                    .franchaizi-list__name Митькин Максим и Морозов Александр
                                    .franchaizi-list__article Запуск 13 ноября 2019

                                .franchaizi-list__column
                                    ul.franchaizi-list__info
                                        li
                                            a(href="tel:78124095079").franchaizi-list__phone +7 (812) 409 50 79
                                        li
                                            a(href="mailto:ekaterinburg.reho24.ru").franchaizi-list__email mspb.reho24.ru 
                                        li
                                            a(href="mailto:ekaterinburg@reho24.ru").franchaizi-list__email mspb@reho24.ru

                                .franchaizi-list__column
                                    
            .swiper-scrollbar
                
.franchaizi-modal.modal#ekbModal
    .franchaizi-modal__inner
        button(type="submit").close-modal

        p.request-modal__title Франчайзи в Екатеринбурге

        .franchaizi-scroll-box.swiper-container
            .swiper-wrapper
                .swiper-slide
                    ul.franchaizi-list
                        li.franchaizi-list__item
                            .franchaizi-list__inner
                                .franchaizi-list__column
                                    .franchaizi-list__img
                                        img(src="img/fr-1.png")
                                        .franchaizi-list__voice.voice-btn.voice
                                            audio(src="audio/stepanenko-audio.mp3").voice-btn__audio

                                .franchaizi-list__column
                                    .franchaizi-list__name Степаненков Никита Сергеевич
                                    .franchaizi-list__article Запуск 10 декабря 2017

                                .franchaizi-list__column
                                    ul.franchaizi-list__info
                                        li
                                            a(href="tel:73432264150").franchaizi-list__phone +7 (343) 226-41-50
                                        li
                                            a(href="mailto:ekaterinburg.reho24.ru").franchaizi-list__email ekaterinburg.reho24.ru 
                                        li
                                            a(href="mailto:ekaterinburg@reho24.ru").franchaizi-list__email ekaterinburg@reho24.ru

                                .franchaizi-list__column
                                    .franchaizi-list__video
                                        a(data-fancybox data-type="iframe" data-src="https://www.youtube.com/embed/enRiyPi7fac?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" href="javascript:;") 
                                            img(src="img/tube.png") 

                        li.franchaizi-list__item
                            .franchaizi-list__inner
                                .franchaizi-list__column
                                    .franchaizi-list__img
                                        img(src="img/fr-3.png")
                                        //- button(type="button").franchaizi-list__voice.voice-btn.voice
                                        //-     audio(src="audio/audio.mp3").voice-btn__audio   

                                .franchaizi-list__column
                                    .franchaizi-list__name Калманов Михаил Борисович
                                    <div class="franchaizi-list__article"> Запуск 26.03.2020
                                    </div>
                                        
                                .franchaizi-list__column
                                    ul.franchaizi-list__info
                                        li
                                            a(href="tel:73432264575").franchaizi-list__phone +7 (343) 226-45-75
                                        li
                                            a(href="mailto:ekaterinburg.reho24.ru").franchaizi-list__email ekaterinburg.reho24.ru 
                                        li
                                            a(href="mailto:ekaterinburg@reho24.ru").franchaizi-list__email ekaterinburg@reho24.ru

                                .franchaizi-list__column
                                    //- p.franchaizi-list__article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                        
                        li.franchaizi-list__item
                            .franchaizi-list__inner
                                .franchaizi-list__column
                                    .franchaizi-list__img
                                        img(src="img/orlova.jpg")
                                        //- button(type="button").franchaizi-list__voice.voice-btn.voice
                                        //-     audio(src="audio/audio.mp3").voice-btn__audio    

                                .franchaizi-list__column
                                    .franchaizi-list__name Орловы Денис и Наталья
                                    <div class="franchaizi-list__article"> В процессе открытия
                                        <div class="drop-icon">
                                            <span>?</span>
                                            <div class="drop-icon__inner">
                                                <p>Данный статус означает, что у партнера до пяти объектов в управлении</p>
                                            </div>
                                        </div>
                                    </div>
                                        
                                        
                                    
                                .franchaizi-list__column
                                    ul.franchaizi-list__info
                                        li
                                            a(href="tel:73433009026").franchaizi-list__phone +7 (343) 300 90 26
                                        li
                                            a(href="mailto:ekaterinburg.reho24.ru").franchaizi-list__email oekb.reho24.ru 
                                        li
                                            a(href="mailto:ekaterinburg@reho24.ru").franchaizi-list__email oekb@reho24.ru

                                .franchaizi-list__column
                                    //- p.franchaizi-list__article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            .swiper-scrollbar

.franchaizi-modal.modal#nvbModal
    .franchaizi-modal__inner
        button(type="submit").close-modal

        p.request-modal__title Франчайзи в Новосибирске

        .franchaizi-scroll-box.swiper-container
            .swiper-wrapper
                .swiper-slide
                    ul.franchaizi-list
                        li.franchaizi-list__item
                            .franchaizi-list__inner
                                .franchaizi-list__column
                                    .franchaizi-list__img
                                        img(src="img/polyakov-img.png")
                                        .franchaizi-list__voice.voice-btn.voice
                                            audio(src="audio/polyakov-audio.mp3").voice-btn__audio

                                .franchaizi-list__column
                                    .franchaizi-list__name Поляков Сергей
                                    .franchaizi-list__article Запуск 28 марта 2019

                                .franchaizi-list__column
                                    ul.franchaizi-list__info
                                        li
                                            a(href="tel:73832021812").franchaizi-list__phone +7 (383) 202 18 12
                                        li
                                            a(href="mailto:ekaterinburg.reho24.ru").franchaizi-list__email pnovosibirsk.reho24.ru 
                                        li
                                            a(href="mailto:ekaterinburg@reho24.ru").franchaizi-list__email pnovosibirsk@reho24.ru

                                .franchaizi-list__column
                                    //- p.franchaizi-list__article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            .swiper-scrollbar

.franchaizi-modal.modal#kazanModal
    .franchaizi-modal__inner
        button(type="submit").close-modal

        p.request-modal__title Франчайзи в Казани

        .franchaizi-scroll-box.swiper-container
            .swiper-wrapper
                .swiper-slide
                    ul.franchaizi-list
                        li.franchaizi-list__item
                            .franchaizi-list__inner
                                .franchaizi-list__column
                                    .franchaizi-list__img
                                        img(src="img/palamarja.jpg")

                                .franchaizi-list__column
                                    .franchaizi-list__name Паламаржа Константин
                                    .franchaizi-list__article Запуск 15 декабря 2018

                                .franchaizi-list__column
                                    ul.franchaizi-list__info
                                        li
                                            a(href="tel:78432661815").franchaizi-list__phone +7(843)2661815
                                        li
                                            a(href="mailto:ekaterinburg.reho24.ru").franchaizi-list__email pkazan.reho24.ru 
                                        li
                                            a(href="mailto:ekaterinburg@reho24.ru").franchaizi-list__email pkazan@reho24.ru

                                .franchaizi-list__column
                                     a(data-fancybox data-type="iframe" data-src="https://www.youtube.com/embed/ZsJ1J7wIMN8?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" href="javascript:;") 
                                            img(src="img/tube-kazan.jpg") 
            .swiper-scrollbar



.franchaizi-modal.modal#stavropolModal
    .franchaizi-modal__inner
        button(type="submit").close-modal

        p.request-modal__title Франчайзи в Cтаврополе

        .franchaizi-scroll-box.swiper-container
            .swiper-wrapper
                .swiper-slide
                    ul.franchaizi-list
                        li.franchaizi-list__item
                            .franchaizi-list__inner
                                .franchaizi-list__column
                                    .franchaizi-list__img
                                        img(src="img/kalimov-img.jpg")

                                .franchaizi-list__column
                                    .franchaizi-list__name Калимов Евгений Владимирович
                                    //- .franchaizi-list__article Запуск 15 декабря 2018

                                .franchaizi-list__column
                                    ul.franchaizi-list__info
                                        li
                                            a(href="tel:78652979867").franchaizi-list__phone +7 (8652) 97 98 67
                                        li
                                            a(href="mailto:ekaterinburg.reho24.ru").franchaizi-list__email kstavropol.reho24.ru 
                                        li
                                            a(href="mailto:ekaterinburg@reho24.ru").franchaizi-list__email kstavropol@reho24.ru

                                .franchaizi-list__column
                                    //-  a(data-fancybox data-type="iframe" data-src="https://www.youtube.com/embed/enRiyPi7fac?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" href="javascript:;") 
                                    //-         img(src="img/tube-kazan.jpg") 
            .swiper-scrollbar


.franchaizi-modal.modal#penzaModal
    .franchaizi-modal__inner
        button(type="submit").close-modal

        p.request-modal__title Франчайзи в Пензе

        .franchaizi-scroll-box.swiper-container
            .swiper-wrapper
                .swiper-slide
                    ul.franchaizi-list
                        li.franchaizi-list__item
                            .franchaizi-list__inner
                                .franchaizi-list__column
                                    .franchaizi-list__img
                                        img(src="img/maksimov-img.jpg")

                                .franchaizi-list__column
                                    .franchaizi-list__name Максимов Александр Николаевич
                                    //- .franchaizi-list__article Запуск 15 декабря 2018

                                .franchaizi-list__column
                                    ul.franchaizi-list__info
                                        li
                                            a(href="tel:78412500617").franchaizi-list__phone +7 (841) 250 06 17
                                        li
                                            a(href="mailto:ekaterinburg.reho24.ru").franchaizi-list__email mpenza.reho24.ru 
                                        li
                                            a(href="mailto:ekaterinburg@reho24.ru").franchaizi-list__email mpenza@reho24.ru

                                .franchaizi-list__column
                                    //-  a(data-fancybox data-type="iframe" data-src="https://www.youtube.com/embed/enRiyPi7fac?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" href="javascript:;") 
                                    //-         img(src="img/tube-kazan.jpg") 
            .swiper-scrollbar