.footer
    .container
     div.footer__logo
      a(href='#' aria-label='Логотип')
       img(src='img/logo-white.png' alt='Логотип')

     ul.social-list
      li
       a(href='#') Телеграм
        img(src='img/telegram.png' alt='Иконка телеграма')
      li
       a(href='#') Ютуб
        img(src='img/video.png' alt='Иконка Ютуба')
      li
       a(href='#') Инстаграм
        img(src='img/instagram.png' alt='Иконка инстаграма')

     div.recall
      a.footer__call(href="tel:+78007074553") +7 800 707-45-53
      button.btn.call-order(type="button") Заказать звонок


     div.footer__bank
      p
       img(src="img/tinkoff-footer.png" alt="Тинькофф")
      a(href='#') Оферта

     p.footer__ip ИП Шабалкин Дмитрий Олегович<br> / ИНН 632410235767


.js-recall.modal-look.modal
  form.form-modal#recall(method="post")
    button(type="button").close-modal

    p.request-modal__title Получить консультацию
    p.request-modal__article Наш менеджер свяжется с вами в течение 15 минут и ответит на все вопросы

    input.inp(type="text" placeholder="Имя" name="uname")
    input.inp(type="text" placeholder="+7(999)999-99-99" name="phone")
    input.inp(type="text" placeholder="E-mail" name="email")

    .request-modal__button-wrap
        button(type="submit" name="submit").btn.btn-orange.btn_form Отправить

    p.privacy Нажимая кнопку, принимаю условия политики и
        a(href="#") пользовательского соглашения


<div class="questionnaire modal-look js-question1">
  <ul class="questionnaire__steps">
    <li class="questionnaire__steps_active"><span>1</span></li>
    <li><span>2</span></li>
    <li><span>3</span></li>
  </ul>

  <div class="questionare__questions">
    <h1>Шаг 1 из 3</h1>

    <p>Ответьте на несколько вопросов, чтобы мы смогли подобрать для Вас оптимальные условия</p>

    <fieldset class="questionare__income">
      <legend>Планируемая сумма дохода с RentHouse в месяц</legend>

      <ul>
        <li><button class="btn btn-white" type="button" form="recall">100 000 - 150 000 рублей</button></li>
        <li><button class="btn btn-white" type="button" form="recall">500 000 - 900 000 рублей</button></li>
        <li><button class="btn btn-white" type="button" form="recall">от 1 000 000 рублей</button></li>
      </ul>
    </fieldset>

    <fieldset class="questionare__investment">
      <legend>Планируемая сумма дохода с RentHouse в месяц</legend>

      <ul>
        <li><button class="btn btn-white" type="button" form="recall">до 100 000 рублей</button></li>
        <li><button class="btn btn-white" type="button" form="recall">500 000 - 900 000 рублей</button></li>
        <li><button class="btn btn-white" type="button" form="recall">1 500 000 - 3 000 000 рублей</button></li>
      </ul>
    </fieldset>

    <a class="btn btn-orange questionare__further" href="#">Далее</a>
    <span class="questionnaire__close"></span>
  </div>
</div>

<div class="questionnaire modal-look js-question2">
  <ul class="questionnaire__steps">
    <li><span>1</span></li>
    <li class="questionnaire__steps_active"><span>2</span></li>
    <li><span>3</span></li>
  </ul>

  <div class="questionare__questions">
    <h1>Шаг 2 из 3</h1>

    <p class="questionare__questions_two">Ответьте на несколько вопросов, чтобы мы смогли подобрать для Вас оптимальные условия</p>

    <fieldset class="questionare__buy">
      <legend>Когда Вы планируете приобрести франшизу и запустить новый бизнес?</legend>

      <ul>
        <li><button class="btn btn-white" type="button" form="recall">В течении месяца</button></li>
        <li><button class="btn btn-white" type="button" form="recall">В течение 3-х месяцев</button></li>
        <li><button class="btn btn-white" type="button" form="recall">Через полгода</button></li>
        <li><button class="btn btn-white" type="button" form="recall">Пока не знаю</button></li>
        <li><button class="btn btn-white" type="button" form="recall">Как только продам свое имущество</button></li>
        <li><button class="btn btn-white" type="button" form="recall">Как только найду стороннее финансирование</button></li>
      </ul>
    </fieldset>

    <a class="btn btn-orange questionare__further" href="#">Далее</a>
    <span class="questionnaire__close"></span>
  </div>
</div>

<div class="questionnaire modal-look js-question3">
  <ul class="questionnaire__steps">
    <li><span>1</span></li>
    <li><span>2</span></li>
    <li class="questionnaire__steps_active"><span>3</span></li>
  </ul>

  <div class="questionare__questions">
    <h1>Шаг 3 из 3</h1>

    <p class="questionare__questions_two">Ответьте на несколько вопросов, чтобы мы смогли подобрать для Вас оптимальные условия</p>

    <fieldset class="questionare__buy">
      <legend>Когда Вы планируете приобрести франшизу и запустить новый бизнес?</legend>

      <ul>
        <li><button class="btn btn-white" type="button" form="recall">В течении месяца</button></li>
        <li><button class="btn btn-white" type="button" form="recall">В течение 3-х месяцев</button></li>
        <li><button class="btn btn-white" type="button" form="recall">Через полгода</button></li>
        <li><button class="btn btn-white" type="button" form="recall">Пока не знаю</button></li>
        <li><button class="btn btn-white" type="button" form="recall">Как только продам свое имущество</button></li>
      </ul>
    </fieldset>

    <a class="btn btn-orange questionare__further" href="#">Далее</a>
    <span class="questionnaire__close"></span>
  </div>
</div>

include ./footer-modals.pug

.overlay
script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="libs/zoom/jquery.loupe.min.js")

script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js")

script(src="libs/parallax/parallax.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js")
script(src="libs/simplebox/simplebox.js")
script(src="libs/simplebox/simplebox_util.js")
script(src="libs/wow/wow.js")
script(src="libs/maskedinput/jquery.maskedinput.min.js")
script(defer src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js")
script(src="libs/autosize/autosize.min.js")
script(src="libs/owl.carusel-2.3.4/owl.carousel.min.js")
script(src="js/common.js")
script(src="js/script.js")
