.request-modal.modal
    form.form-modal(method="post")
        button(type="button").close-modal

        p.request-modal__title Получить консультацию
        p.request-modal__article Наш менеджер свяжется с вами в течение 15 минут и ответит на все вопросы

        input.inp(type="text" placeholder="Имя" name="uname")
        input.inp(type="text" placeholder="+7(999)999-99-99" name="phone")
        input.inp(type="text" placeholder="E-mail" name="email")

        .request-modal__button-wrap
            button(type="submit" name="submit").btn.btn-orange.btn_form Отправить

        p.privacy Нажимая кнопку, принимаю условия политики и 
            a(href="#") пользовательского соглашения

.thanks-modal.modal
    .form-modal
        button(type="submit").close-modal

        p.request-modal__title Спасибо за заявку!
        p.request-modal__article.request-modal__article_thanks Проверьте Вашу почту, наше предложение уже ждет Вас там

        .presentation        
            p.presentation__title 
                b Вы можете посмотреть уникальные презентации уже сейчас:

            .modal-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .presentation-slider__img
                            img(src="img/ps-1.jpg")

                        p.presentation-slider__article Сколько я смогу зарабатывать?

                    .swiper-slide
                        .presentation-slider__img
                            img(src="img/ps-2.jpg")

                        p.presentation-slider__article Почему RentHouse?

                .swiper-button-next
                .swiper-button-prev

        ul.social-link
            li
                a(href="#")
                    img(src="img/youtube-icon-g.png")
            li
                a(href="#")
                    img(src="img/telegram-icon-g.png")
            li
                a(href="#")
                    img(src="img/inst-icon-g.png")

.franchaizi-modal.modal
    .franchaizi-modal__inner
        button(type="submit").close-modal

        p.request-modal__title Франчайзи в Екатеринбурге

        .franchaizi-scroll-box.swiper-container
            .swiper-wrapper
                .swiper-slide
                    ul.franchaizi-list
                        li.franchaizi-list__item
                            .franchaizi-list__inner
                                .franchaizi-list__column
                                    .franchaizi-list__img
                                        img(src="img/fr-1.png")
                                        .franchaizi-list__voice.voice-btn.voice
                                            audio(src="audio/audio.mp3").voice-btn__audio

                                .franchaizi-list__column
                                    .franchaizi-list__name Степаненков Никита Сергеевич
                                    .franchaizi-list__article Запуск 10 декабря 2017

                                .franchaizi-list__column
                                    ul.franchaizi-list__info
                                        li
                                            a(href="tel:73432264150").franchaizi-list__phone +7 (343) 226-41-50
                                        li
                                            a(href="mailto:ekaterinburg.reho24.ru").franchaizi-list__email ekaterinburg.reho24.ru 
                                        li
                                            a(href="mailto:ekaterinburg@reho24.ru").franchaizi-list__email ekaterinburg@reho24.ru

                                .franchaizi-list__column
                                    .franchaizi-list__video
                                        a(data-fancybox data-type="iframe" data-src="https://www.youtube.com/embed/enRiyPi7fac?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" href="javascript:;") 
                                            img(src="img/tube.png") 

                        li.franchaizi-list__item
                            .franchaizi-list__inner
                                .franchaizi-list__column
                                    .franchaizi-list__img
                                        img(src="img/fr-2.png")
                                        button(type="button").franchaizi-list__voice.voice-btn.voice
                                            audio(src="audio/audio.mp3").voice-btn__audio  

                                .franchaizi-list__column
                                    .franchaizi-list__name Капустина Анна Владимировна
                                    <div class="franchaizi-list__article"> В процессе открытия
                                        <div class="drop-icon">
                                            <span>?</span>
                                            <div class="drop-icon__inner">
                                                <p>Данный статус означает, что у партнера до пяти объектов в управлении</p>
                                            </div>
                                        </div>
                                    </div>
                                        
                                        
                                    
                                .franchaizi-list__column
                                    ul.franchaizi-list__info
                                        li
                                            a(href="tel:73432264150").franchaizi-list__phone +7 (343) 226-41-50
                                        li
                                            a(href="mailto:ekaterinburg.reho24.ru").franchaizi-list__email ekaterinburg.reho24.ru 
                                        li
                                            a(href="mailto:ekaterinburg@reho24.ru").franchaizi-list__email ekaterinburg@reho24.ru

                                .franchaizi-list__column
                                    p.franchaizi-list__article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 

                        li.franchaizi-list__item
                            .franchaizi-list__inner
                                .franchaizi-list__column
                                    .franchaizi-list__img
                                        img(src="img/fr-3.png")
                                        button(type="button").franchaizi-list__voice.voice-btn.voice
                                            audio(src="audio/audio.mp3").voice-btn__audio   

                                .franchaizi-list__column
                                    .franchaizi-list__name Калманов Михаил Борисович
                                    <div class="franchaizi-list__article"> В процессе открытия
                                        <div class="drop-icon">
                                            <span>?</span>
                                            <div class="drop-icon__inner">
                                                <p>Данный статус означает, что у партнера до пяти объектов в управлении</p>
                                            </div>
                                        </div>
                                    </div>
                                        
                                        
                                    
                                .franchaizi-list__column
                                    ul.franchaizi-list__info
                                        li
                                            a(href="tel:73432264575").franchaizi-list__phone +7 (343) 226-45-75
                                        li
                                            a(href="mailto:ekaterinburg.reho24.ru").franchaizi-list__email ekaterinburg.reho24.ru 
                                        li
                                            a(href="mailto:ekaterinburg@reho24.ru").franchaizi-list__email ekaterinburg@reho24.ru

                                .franchaizi-list__column
                                    p.franchaizi-list__article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                        
                        li.franchaizi-list__item
                            .franchaizi-list__inner
                                .franchaizi-list__column
                                    .franchaizi-list__img
                                        img(src="img/fr-3.png")
                                        button(type="button").franchaizi-list__voice.voice-btn.voice
                                            audio(src="audio/audio.mp3").voice-btn__audio    

                                .franchaizi-list__column
                                    .franchaizi-list__name Калманов Михаил Борисович
                                    <div class="franchaizi-list__article"> В процессе открытия
                                        <div class="drop-icon">
                                            <span>?</span>
                                            <div class="drop-icon__inner">
                                                <p>Данный статус означает, что у партнера до пяти объектов в управлении</p>
                                            </div>
                                        </div>
                                    </div>
                                        
                                        
                                    
                                .franchaizi-list__column
                                    ul.franchaizi-list__info
                                        li
                                            a(href="tel:73432264575").franchaizi-list__phone +7 (343) 226-45-75
                                        li
                                            a(href="mailto:ekaterinburg.reho24.ru").franchaizi-list__email ekaterinburg.reho24.ru 
                                        li
                                            a(href="mailto:ekaterinburg@reho24.ru").franchaizi-list__email ekaterinburg@reho24.ru

                                .franchaizi-list__column
                                    p.franchaizi-list__article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            
            
            
            
            .swiper-scrollbar
                
