header.header.container
    .mobile-menu
        .mobile-menu__top
            ul
                li
                    a(href="#") О франшизе
                li
                    a(href="#") Отзывы
                li
                    a(href="#") Как все работает
                li
                    a(href="#") Стоимость
                li
                    a(href="#") Калькулятор
                    
        .mobile-menu__bottom
            ul
                li
                    a(href="#") Закон
                li
                    a(href="#") О нас
                li
                    a(href="#") Каталог квартир
                li
                    a(href="#") Сдать свою <br>квартиру
                    
            ul
                li
                    a(href="#") Франшиза
                li
                    a(href="#") Отзывы
                li
                    a(href="#") Обучение
                li
                    a(href="#") Вебинар
                li
                    a(href="#") Контакты
                    
    ul.header-mobile
        li
            .logo-mobile
                img(src="img/logo.png" alt="renthouse сеть уютных апартаментов")
        li
            a(href="tel:88007074553").phone-mob
            a(href="#").btn.btn-white.request-call.request-call_mob Заказать звонок
            
            .burger
                        
    .header-desctop
        .header-desctop__top
            nav.main-nav
                ul.main-nav__list
                    li
                        a(href="#") Закон
                    li
                        a(href="#") О нас
                    li
                        a(href="#") Каталог квартир
                    li
                        a(href="#") Сдать свою квартиру
                    li
                        a(href="#") Франшиза
                    li
                        a(href="#") Обучение
                    li
                        a(href="#") Отзывы
                    li
                        a(href="#") Вебинар
                    li
                        a(href="#") Контакты
        
        .header-desctop__bottom
            .header-desctop__logo
                img(src="img/logo.png" alt="renthouse сеть уютных апартаментов" width="185" height="52")
            
            ul.header-desctop__menu
                li
                    a(href="#") О франшизе
                li
                    a(href="#") Отзывы
                li
                    a(href="#") Как все работает
                li
                    a(href="#") Стоимость
                li
                    a(href="#") Калькулятор
            
            ul.header-desctop__contact
                li
                    a(href="tel:88007074553").header-desctop__phone +7 800 707-45-53
                li
                    a(href="#").btn.btn-white.request-call Заказать звонок
    
    
                    
                    
