link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css")
link(rel="stylesheet" href="libs/simplebox/simplebox.css")
link(rel="stylesheet" href="libs/animate/animate.css")
link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet")

link(rel="stylesheet" href="libs/owl.carusel-2.3.4/css/owl.carousel.min.css")    

//- link(rel="stylesheet" href="libs/fotorama/fotorama.css")


link(href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet")
link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
link(rel="stylesheet" href="css/main.css")
