extends ../layout/layout.pug
block vars
	- var title = 'RentHouse - франшиза посуточной аренды квартир. Готовый бизнес в недвижимости';
block header
	include ../includes/header.pug
block content
	include ../includes/content-main.pug
	include ../includes/content-inner.pug
block footer
	include ../includes/footer.pug     
              
